<div class="gray-wrapper">
    <div class="container">
        <div class="col-md-12">
            <div class="profile-details">
                <div class="row equal">
                    <div class="col-md-4">
                        <div class="profile-sidebar">
                            <div class="profile-top">
                                <div class="profile-picture-frame" data-toggle="modal" data-target="#profilePictureUploadModal">
                                    <div class="profile-picture-upload"><i class="fa fa-camera" aria-hidden="true"></i></div>
                                    <img class="profile-picture" src="{{userInfo.imagePath}}" />
                                </div>
                                <div class="profile-header-name">{{userInfo.firstName}} {{userInfo.lastName}}</div>

                            </div>
                            <ul class="nav nav-tabs login-tabs profile-tabs">
                                <li><a data-toggle="tab" href="#stats" target="_self">Aktivnost</a></li>
                                <li class="active"><a data-toggle="tab" href="#personal" target="_self" ng-click="getPersonalInfo()">Lični Podaci</a></li>
                                <li><a data-toggle="tab" href="#interests" target="_self" ng-click="getInterestInfo()">Interesi</a></li>
                                <li><a data-toggle="tab" href="#finance" target="_self">Finansije</a></li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content">
                            <div id="stats" class="tab-pane fade">
                                <div class="text-center" ng-show="statsloading">
                                    <img src="img/spin.gif" />
                                </div>
                                <div ng-hide="statsLoading">
                                    <div class="stats-wrap">
                                        <div class="row">
                                            <div class="col-md-offset-1 col-md-10">
                                                <div class="row">
                                                    <div class="wrap-activity-counter">
                                                        <div class="col-md-4" ng-repeat="stat in statsSummary">
                                                            <div>
                                                                <div class="activity-counter" ng-style="{'background-color': applyTypeColor(stat.type)}">
                                                                    <p>{{stat.value}}</p>
                                                                </div>
                                                                <p>{{stat.type}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-offset-1 col-md-10 col-xs-offset-1 col-xs-10">
                                                <h3>Historija Događaja</h3>
                                                <div class="table-responsive">
                                                    <table class="table profile-stats-table">
                                                        <thead>
                                                            <tr>
                                                                <th>Naziv</th>
                                                                <th class="text-right">Datum</th>
                                                                <th class="text-right">Lokacija</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr class="profile-events-wrap" ng-repeat="event in stats.attendedEvents">
                                                                <td><a href="">{{event.name}}</a></td>
                                                                <td class="text-right">13-Mart-2017</td>
                                                                <td class="text-right">Sarajevo</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-offset-1 col-md-10 col-xs-offset-1 col-xs-10">
                                                <h3>Komentari</h3>
                                                <div class="profile-comment-wrap" ng-repeat="comment in stats.comments">
                                                    <div class="profile-comment-options">
                                                        <a href=""><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                        <a href=""><i class="fa fa-times" aria-hidden="true"></i></a>
                                                    </div>
                                                    <a class="profile-comment-event" href="">{{comment.eventName}}</a>
                                                    <div class="profile-comment-datetime">{{comment.dateTime}}</div>
                                                    <div class="profile-comment-content">{{comment.content}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div id="personal" class="tab-pane fade in active">
                                <div class="profile-personal-wrap text-center" ng-show="personalInfoLoading">
                                    <img src="img/spin.gif" />
                                </div>
                                <div ng-hide="personalInfoLoading">
                                    <div class="row">
                                        <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
                                            <div class="profile-personal-wrap">
                                                <div class="form-group">
                                                    <label>Korisničko Ime:</label>
                                                    <input type="text" class="form-control" placeholder="Korisničko Ime" ng-model="userInfo.userName" disabled="disabled">
                                                </div>
                                                <div class="form-group">
                                                    <label>Email:</label>
                                                    <input type="text" class="form-control" placeholder="Email" ng-model="userInfo.email">
                                                </div>
                                                <div class="form-group">
                                                    <label>Ime:</label>
                                                    <input type="text" class="form-control" placeholder="Ime" ng-model="userInfo.firstName">
                                                </div>
                                                <div class="form-group">
                                                    <label>Prezime:</label>
                                                    <input type="text" class="form-control" placeholder="Prezime" ng-model="userInfo.lastName">
                                                </div>
                                                <div class="form-group">
                                                    <label>Grad:</label>
                                                    <input type="text" class="form-control" placeholder="Grad" ng-model="userInfo.address">
                                                </div>
                                                <div class="form-group">
                                                    <label>Telefon:</label>
                                                    <input type="text" class="form-control" placeholder="Telefon" ng-model="userInfo.phoneNumber">
                                                </div>
                                                <label>Spol: </label>
                                                <div class="form-group">
                                                    <label class="radio-inline"><input type="radio" name="genderRadio" ng-model="userInfo.gender" value="Musko">Muški</label>
                                                    <label class="radio-inline"><input type="radio" name="genderRadio" ng-model="userInfo.gender" value="Zensko">Ženski</label>
                                                </div>
                                                <label>Zaposlenost: </label>
                                                <div class="form-group">
                                                    <label class="radio-inline"><input type="radio" name="employmentRadio" ng-model="userInfo.employment" value="Zaposlen">Zaposlen/a</label>
                                                    <label class="radio-inline"><input type="radio" name="employmentRadio" ng-model="userInfo.employment" value="Nezaposlen">Nezaposlen/a</label>
                                                    <label class="radio-inline"><input type="radio" name="employmentRadio" ng-model="userInfo.employment" value="Student">Student</label>

                                                </div>
                                                <label>Zdravstveno stanje: </label>
                                                <div class="form-group">
                                                    <label class="radio-inline"><input type="radio" name="healthRadio" ng-model="health" value="OK">Uredno</label>
                                                    <label class="radio-inline"><input type="radio" name="healthRadio" ng-model="health" value="other">Drugo</label>
                                                </div>
                                                <div class="form-group" ng-show="health === 'other'">
                                                    <label>Objašnjenje:</label>
                                                    <textarea class="form-control" rows="2"></textarea>
                                                </div>
                                                <button class="btn btn-primary" ng-click="updatePersonalInfo()">Spasi</button>
                                                <button data-toggle="modal" data-target="#changePasswordModal" class="btn btn-primary">Promijeni Sifru</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="interests" class="tab-pane fade">
                                <div class="profile-interests-wrap text-center" ng-show="interestsLoading || categoriesLoading">
                                    <img src="img/spin.gif" />
                                </div>
                                <div ng-hide="interestsLoading || categoriesLoading">
                                    <div class="row">
                                        <div class="profile-interests-wrap">
                                            <div class="panel-group" id="accordion">
                                                <div class="panel panel-default" ng-repeat="category in interestCategories">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#accordion" ng-href="{{'#collapse' + $index}}" href="" target="_self">
                                                                {{category.categoryName}}
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="{{'collapse' + $index}}" class="panel-collapse collapse">
                                                        <!--ng-class='{in:$first}'-->
                                                        <div class="panel-body">
                                                            <ul class="row profile-interests-category">
                                                                <li class="col-md-offset-1" ng-repeat="interest in allInterests">
                                                                    <div class="checkbox" ng-show="interest.categoryId===category.id">
                                                                        <label><input type="checkbox" ng-model="interest.checked">{{interest.name}}</label>
                                                                    </div>
                                                                </li>
                                                                <!--<li class="col-md-6 col-sm-6 category-list-item" ng-repeat="interest in interests">
                                                <div class="category-item">
                                                    <div class="category-item-img" ng-click="interest.value=!interest.value"
                                                         ng-style="{'background-image': 'url(' + interest.img + ')'}">
                                                    </div>
                                                    <div class="checkbox category-item-label">
                                                        <label><input type="checkbox" ng-model="interest.value" value="">{{interest.name}}</label>
                                                    </div>
                                                </div>
                                            </li>-->
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="btn btn-primary" ng-click="updateInterests()">Spasi</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<div id="equipment" class="tab-pane fade">
            <div class="row">
                <div class="profile-interests-wrap">
                    <ul class="row profile-interests-category" ng-repeat="category in equipment">
                        <li class="col-md-12 category-name">{{category.categoryName}}</li>
                        <li class="col-md-6 col-sm-6" ng-repeat="equipmentPart in category.equipmentList">
                            <div class="category-item">
                                <div class="category-item-img" ng-click="equipmentPart.value=!equipmentPart.value"
                                     ng-style="{'background-image': 'url(' + equipmentPart.img + ')'}">
                                </div>
                                <div class="checkbox category-item-label">
                                    <label><input type="checkbox" ng-model="equipmentPart.value" value="">{{equipmentPart.label}}</label>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>-->
                            <div id="finance" class="tab-pane fade">

                                <div class="stats-wrap">
                                    <div class="row">
                                        <div class="col-md-offset-1 col-md-10 col-xs-offset-1 col-xs-10">
                                            <div class="panel panel-default" id="finance-panel">
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-md-7 col-xs-12">
                                                            <h2>Ars Vivendi Članarina</h2>
                                                            <p>Uplata na datum: 08-Septembar-2016</p>
                                                            <p>Važi do: 08-Septembar-2017</p>
                                                        </div>
                                                        <div class="col-md-5 col-xs-12">
                                                            <button class="rectangle-btn" id="extend-membership-btn">Produži Članstvo</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h3>Uplate za događaje</h3>
                                            <div class="table-responsive">
                                                <table class="table profile-stats-table">
                                                    <thead>
                                                        <tr>
                                                            <th>Naziv</th>
                                                            <th class="text-right">Cijena</th>
                                                            <th class="text-right">Plaćeni Iznos</th>
                                                            <th class="text-right">Dug</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="profile-events-wrap" ng-repeat="event in stats.attendedEvents">
                                                            <td><a href="">{{event.name}}</a></td>
                                                            <td class="text-right">{{event.price}} KM</td>
                                                            <td class="text-right">{{event.paymentStatus}} KM</td>
                                                            <td class="text-right">{{(event.price - event.paymentStatus > 0) ? (event.price - event.paymentStatus) + "KM" : "Nema"}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--PROFILE PICTURE UPLOAD MODAL-->
<div id="profilePictureUploadModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Upload</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <form>
                        <input type="file" accept="image/*" ng-model="userInfo.image" base-sixty-four-input>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveProfilePicture()">Potvrdi</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
            </div>
        </div>

    </div>
</div>

<!--CHANGE PASSWORD MODAL-->
<div id="changePasswordModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-width-adjust">
        <!-- Modal content-->
        <div class="modal-content modal-width-adjust">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title modal-title-padding">Promijeni sifru</h4>
            </div>
            <!--<div class="modal-body">-->


            <div class="add-member-form">
                <div class="tab-content">
                    <div id="postani-clan-1" class="tab-pane fade in active">
                        <div class="login-line"><p>Popunite polja</p></div>
                        <input type="password" placeholder="Trenutna sifra" required ng-model="changePassword.currentPassword" />
                        <input type="password" placeholder="Nova sifra" required ng-model="changePassword.newPassword" />
                        <input type="password" placeholder="Potvrdi novu sifru" ng-model="changePassword.confirmNewPassword" />
                        <button class="rectangle-btn login-btn-halfway no-bg-btn" data-dismiss="modal">Izađi</button><button class="rectangle-btn login-btn-halfway modal-border" data-dismiss="modal" data-toggle="tab" target="_self" ng-click="updatePassword()">Potvrdi</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>