<div class="login-screen">

    <div class="login-form">
        <ul class="nav nav-tabs login-tabs">
            <li class="active"><a data-toggle="tab" href="#postani-clan" target="_self" ng-click="goToExtReg()">Postani Član</a></li>
            <li><a data-toggle="tab" href="#prijava" target="_self" ng-click="goToLogin()">Prijava</a></li>
        </ul>
        <div class="tab-content">
            <!--<div id="prijava" class="tab-pane fade">
                <div class="login-line"><p>Unesi podatke za prijavu</p></div>
                <input type="text" placeholder="Email" />
                <input type="text" placeholder="Korisnicko Ime" ng-model="loginData.userName" required />
                <input type="password" placeholder="Lozinka" ng-model="loginData.password" required />
                <button class="rectangle-btn login-btn-full" type="submit" ng-click="loginMOCKUP()">Prijava</button>
                <div class="login-line"><p>ili</p></div>
                <a href="#" class="connect facebook">
                    <div class="connect-icon">
                        <i class="fa fa-facebook"></i>
                    </div>
                    <div class="connect-context">
                        <span>Prijava putem<strong> Facebook-a</strong></span>
                    </div>
                </a>
                <a href="#" class="connect gplus">
                    <div class="connect-icon">
                        <i class="fa fa-google-plus"></i>
                    </div>
                    <div class="connect-context">
                        <span>Prijava putem<strong> Google Plus-a</strong></span>
                    </div>
                </a>
            </div>-->
            <div id="postani-clan" class="tab-pane active in">
                <div class="av-form-line"><p>Odaberi način registracije</p></div>
                <!--Manual-->
                <button class="rectangle-btn login-btn-full" data-toggle="tab" href="#postani-clan-1" target="_self" ng-click="openForm(0)">Registriraj se</button>
                <div class="av-form-line"><p>ili</p></div>
                <!--Facebook-->
                <a href="" class="connect facebook">
                    <div class="connect-icon">
                        <i class="fa fa-facebook"></i>
                    </div>
                    <div class="connect-context" ng-click="authExternalProvider('Facebook')">
                        <span>Postani član putem<strong> Facebook-a</strong></span>
                    </div>
                </a>
                <!--Gplus-->
                <a href="" class="connect gplus">
                    <div class="connect-icon">
                        <i class="fa fa-google-plus"></i>
                    </div>
                    <div class="connect-context" ng-click="authExternalProvider('Google')">
                        <span>Postani član putem<strong> Google Plus-a</strong></span>
                    </div>
                </a>
            </div>
            <div id="postani-clan-1" class="tab-pane fade">

                <div class="av-form-line" ng-if="formTabs[0].active"><p>Korisnički podaci (sva polja su obavezna)</p></div>
                <form name="reg1" novalidate ng-if="formTabs[0].active">
                    <div class="av-form-group">
                        <label>Korisničko Ime: </label>
                        <div class="av-form-error" ng-show="reg1.$submitted || reg1.username.$touched">
                            <span ng-show="reg1.username.$error.required">Obavezno polje</span>
                        </div>
                        <input type="text" name="username" class="av-form" ng-model="registerExternalData.userName" required="">
                    </div>
                    <div class="av-form-group">
                        <label>Šifra: </label>
                        <div class="av-form-error" ng-show="reg1.$submitted || reg1.password.$touched">
                            <span ng-show="reg1.password.$error.required">Obavezno polje</span>
                        </div>
                        <input type="password" name="password" class="av-form" ng-model="registerExternalData.password" required="">
                    </div>
                    <div class="av-form-group">
                        <label>Ponovi šifru: </label>
                        <div class="av-form-error" ng-show="reg1.$submitted || reg1.confirmPassword.$touched">
                            <span ng-show="reg1.confirmPassword.$error.required">Obavezno polje</span>
                            <span ng-show="passwordError">Šifre nisu jednake</span>
                        </div>
                        <input type="password" name="confirmPassword" class="av-form" ng-model="registerExternalData.confirmPassword" required="" compare-to="registerExternalData.password">
                    </div>
                    <div class="av-form-group">
                        <label>Ime: </label>
                        <div class="av-form-error" ng-show="reg1.$submitted || reg1.firstName.$touched">
                            <span ng-show="reg1.firstName.$error.required">Obavezno polje</span>
                        </div>
                        <input type="text" name="firstName" class="av-form" ng-model="registerExternalData.firstName" required="">
                    </div>
                    <div class="av-form-group">
                        <label>Prezime: </label>
                        <div class="av-form-error" ng-show="reg1.$submitted || reg1.lastName.$touched">
                            <span ng-show="reg1.lastName.$error.required">Obavezno polje</span>
                        </div>
                        <input type="text" name="lastName" class="av-form" ng-model="registerExternalData.lastName" required="">
                    </div>
                    <div class="av-form-group av-form-last">
                        <label>Email: </label>
                        <div class="av-form-error" ng-show="reg1.$submitted || reg1.email.$touched">
                            <span ng-show="reg1.email.$error.required">Obavezno polje</span>
                            <span ng-show="reg1.email.$error.email">Nepravilan email</span>
                        </div>
                        <input type="email" name="email" class="av-form" ng-model="registerExternalData.email" required="">
                    </div>
                    <button class="rectangle-btn login-btn-halfway no-bg-btn" data-toggle="tab" target="_self" ng-click="resetRegistration()">Nazad</button><button class="rectangle-btn login-btn-halfway" ng-click="switchTab(1, reg1)">Dalje</button>
                </form>



                <div class="av-form-line" ng-if="formTabs[1].active"><p>Lični podaci (sva polja su obavezna)</p></div>
                <form name="reg2" ng-if="formTabs[1].active" novalidate>
                    <div class="av-form-group">
                        <label>Datum Rođenja: </label>
                        <div class="av-form-error" ng-show="dateError">
                            <span ng-show="dateError">Nepravilan datum</span>
                        </div>
                        <div class="av-form">
                            <div class="row">
                                <div class="col-md-4 col-xs-4">
                                    <select type="text" class="form-control" ng-model="dateOfBirth.day" style="padding: 6px">
                                        <option ng-repeat="day in dateOfBirth.days" ng-value="day">{{day}}</option>
                                    </select>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <select type="text" class="form-control" ng-model="dateOfBirth.month" style="padding: 6px">
                                        <option ng-repeat="month in dateOfBirth.months" ng-value="month">{{month}}</option>
                                    </select>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <select type="text" class="form-control" ng-model="dateOfBirth.year" style="padding: 6px 0">
                                        <option ng-repeat="year in dateOfBirth.years" ng-value="year">{{year}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="av-form-group">
                        <label>Grad: </label>
                        <div class="av-form-error" ng-show="reg2.$submitted || reg2.city.$touched">
                            <span ng-show="reg2.city.$error.required">Obavezno polje</span>
                        </div>
                        <input type="text" name="city" class="av-form" ng-model="registerExternalData.city" required="">
                    </div>
                    <div class="av-form-group">
                        <label>Adresa: </label>
                        <div class="av-form-error" ng-show="reg2.$submitted || reg2.address.$touched">
                            <span ng-show="reg2.address.$error.required">Obavezno polje</span>
                        </div>
                        <input type="text" name="address" class="av-form" ng-model="registerExternalData.address" required="">
                    </div>
                    <div class="av-form-group">
                        <label>Telefon: </label>
                        <div class="av-form-error" ng-show="reg2.$submitted || reg2.phoneNumber.$touched">
                            <span ng-show="reg2.phoneNumber.$error.required">Obavezno polje</span>
                            <span ng-show="reg2.phoneNumber.$error.pattern">Broj telefona može imati samo cifre</span>
                        </div>
                        <div class="av-form">
                            <div class="row">
                                <div class="col-md-4 col-xs-5">
                                    <select class="form-control" ng-model="selectedCountry" style="padding: 6px 0">
                                        <option ng-repeat="country in countries" ng-value="country">{{country.name}} {{country.number}}</option>
                                    </select>
                                </div>
                                <div class="col-md-8 col-xs-7"><input type="text" name="phoneNumber" class="av-form" style="border-bottom: 0px; padding: 5px;" ng-model="registerExternalData.phoneNumber" required="" ng-pattern="phoneRegex"></div>
                            </div>
                        </div>
                    </div>
                    <div class="av-form-group" id="genderRadio">
                        <label>Spol: </label>
                        <div class="av-form-error" ng-show="reg2.$submitted">
                            <span ng-show="reg2.genderRadio.$error.required">Odaberite spol</span>
                        </div>
                        <div class="av-form">
                            <div class="row">
                                <div class="col-sm-4 col-xs-6"><label class="radio-inline"><input type="radio" value="musko" ng-model="registerExternalData.gender" name="genderRadio" required>Muško</label></div>
                                <div class="col-sm-4 col-xs-6"><label class="radio-inline"><input type="radio" value="zensko" ng-model="registerExternalData.gender" name="genderRadio" required>Žensko</label></div>
                            </div>
                        </div>
                    </div>
                    <div class="av-form-group" id="employmentRadio">
                        <label>Radni status: </label>
                        <div class="av-form-error" ng-show="reg2.$submitted">
                            <span ng-show="reg2.employmentRadio.$error.required">Odaberite radni status</span>
                        </div>
                        <div class="av-form">
                            <div class="row">
                                <div class="col-sm-4 col-xs-6"><label class="radio-inline"><input type="radio" value="zaposlen" ng-model="registerExternalData.employment" name="employmentRadio" required>Zaposlen/a</label></div>
                                <div class="col-sm-4 col-xs-6"><label class="radio-inline"><input type="radio" value="nezaposlen" ng-model="registerExternalData.employment" name="employmentRadio" required>Nezaposlen/a</label></div>
                                <div class="col-sm-4 col-xs-6"><label class="radio-inline"><input type="radio" value="student" ng-model="registerExternalData.employment" name="employmentRadio" required>Student</label></div>
                            </div>
                        </div>
                    </div>
                    <div class="av-form-group av-form-last" id="healthStatusRadio">
                        <label>Nivo fizičke spreme: </label>
                        <div class="av-form-error" ng-show="reg2.$submitted">
                            <span ng-show="reg2.healthStatusRadio.$error.required">Odaberite nivo fizičke spreme</span>
                        </div>
                        <div class="av-form">
                            <div class="row">
                                <div class="col-sm-4 col-xs-6"><label class="radio-inline"><input type="radio" value="nizak" ng-model="registerExternalData.healthStatus" name="healthStatusRadio" required>Nizak</label></div>
                                <div class="col-sm-4 col-xs-6"><label class="radio-inline"><input type="radio" value="srednji" ng-model="registerExternalData.healthStatus" name="healthStatusRadio" required>Srednji</label></div>
                                <div class="col-sm-4 col-xs-6"><label class="radio-inline"><input type="radio" value="visok" ng-model="registerExternalData.healthStatus" name="healthStatusRadio" required>Visok</label></div>
                            </div>
                        </div>
                    </div>
                    <button class="rectangle-btn login-btn-halfway no-bg-btn" ng-click="openForm(0)">Nazad</button><button type="submit" class="rectangle-btn login-btn-halfway" ng-click="switchTab(2, reg2)">Dalje</button>
                </form>

                <div ng-if="formTabs[2].active">
                    <div class="av-form-line"><p>Odaberi svoje karakteristike (najmanje po jednu)</p></div>
                    <div class="text-center" ng-show="isloading()">
                        <img src="img/spin.gif" />
                    </div>
                    <div class="av-form-error text-center" ng-show="categoryError">
                        <span ng-show="categoryError">Odaberite bar po jednu iz svake kategorije</span>
                    </div>
                    <div class="custom-accordion" id="accordion" ng-hide="isloading()">
                        <div class="panel panel-default" ng-repeat="category in interestCategories">
                            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" ng-href="{{'#collapse' + $index}}" href="" target="_self">
                                <h4 class="panel-title">
                                    <span>
                                        {{category.categoryName}}
                                    </span>
                                </h4>
                            </div>
                            <div id="{{'collapse' + $index}}" class="panel-collapse collapse" ng-class='{in:$first}'>
                                <div class="panel-body">
                                    <ul class="login-list">
                                        <li ng-repeat="subCategory in subCategories" ng-click="toggleSelection(subCategory)" ng-show="subCategory.categoryId===category.id" style="cursor:pointer;">
                                            <div class="av-form av-form-last av-form-checkboxes">
                                                <div class="row">
                                                    <div class="col-xs-8"><label>{{subCategory.name}}</label></div>
                                                    <div class="col-xs-offset-2 col-xs-1"><input type="checkbox" ng-checked="selected.indexOf(subCategory) > -1" /></div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="rectangle-btn login-btn-halfway no-bg-btn" ng-click="openForm(1)">Nazad</button><button type="submit" class="rectangle-btn login-btn-halfway" target="_self" ng-click="registerExternal()">Postani Član</button>
                </div>
            </div>
        </div>
    </div>
</div>