<div class="login-screen">

    <div class="login-form">
        <ul class="nav nav-tabs login-tabs">
            <li class="active"><a data-toggle="tab" href="#postani-clan" target="_self" ng-click="goToExtReg()">Postani Član</a></li>
            <li><a data-toggle="tab" href="#prijava" target="_self" ng-click="goToLogin()">Prijava</a></li>
        </ul>
        <div class="tab-content">
            <!--<div id="prijava" class="tab-pane fade">
                <div class="login-line"><p>Unesi podatke za prijavu</p></div>
                <input type="text" placeholder="Email" />
                <input type="text" placeholder="Korisnicko Ime" ng-model="loginData.userName" required />
                <input type="password" placeholder="Lozinka" ng-model="loginData.password" required />
                <button class="rectangle-btn login-btn-full" type="submit" ng-click="loginMOCKUP()">Prijava</button>
                <div class="login-line"><p>ili</p></div>
                <a href="#" class="connect facebook">
                    <div class="connect-icon">
                        <i class="fa fa-facebook"></i>
                    </div>
                    <div class="connect-context">
                        <span>Prijava putem<strong> Facebook-a</strong></span>
                    </div>
                </a>
                <a href="#" class="connect gplus">
                    <div class="connect-icon">
                        <i class="fa fa-google-plus"></i>
                    </div>
                    <div class="connect-context">
                        <span>Prijava putem<strong> Google Plus-a</strong></span>
                    </div>
                </a>
            </div>-->
            <div id="postani-clan" class="tab-pane in active">
                <div class="login-line"><p>Odaberi način registracije</p></div>
                <button class="rectangle-btn login-btn-full" data-toggle="tab" href="#postani-clan-1" target="_self">Registriraj se</button>
                <div class="login-line"><p>ili</p></div>
                <a href="#" class="connect facebook">
                    <div class="connect-icon">
                        <i class="fa fa-facebook"></i>
                    </div>
                    <div class="connect-context">
                        <span>Postani član putem<strong> Facebook-a</strong></span>
                    </div>
                </a>
                <a href="#" class="connect gplus">
                    <div class="connect-icon">
                        <i class="fa fa-google-plus"></i>
                    </div>
                    <div class="connect-context">
                        <span>Postani član putem<strong> Google Plus-a</strong></span>
                    </div>
                </a>
            </div>
            <div id="postani-clan-1" class="tab-pane fade">
                <div class="login-line"><p>Korisnički podaci</p></div>
                <input type="text" placeholder="Korisničko Ime" ng-model="registerExternalData.userName" disabled />
                <input type="text" placeholder="Ime" ng-model="registerExternalData.firstName"/>
                <input type="text" placeholder="Prezime" ng-model="registerExternalData.lastName" />
                <input type="email" placeholder="Email" ng-model="registerExternalData.email"/>
                <button class="rectangle-btn login-btn-halfway no-bg-btn" data-toggle="tab" ng-click="resetRegistration()" target="_self">Nazad</button><button class="rectangle-btn login-btn-halfway" data-toggle="tab" href="#postani-clan-2" target="_self">Dalje</button>

            </div>
            <div id="postani-clan-2" class="tab-pane fade">
                <div class="login-line"><p>Lični podaci</p></div>
                <div class="login-line">
                    <label>Datum Rođenja: </label>
                    <input id="birthdate" type="text" uib-datepicker-popup="{{format}}" ng-model="registerExternalData.dateOfBirth" ng-click="open1()"
                           is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" alt-input-formats="altInputFormats"
                           current-text="Današnji datum" clear-text="Obriši" close-text="Zatvori" />
                </div>
                <input type="text" placeholder="Grad" ng-model="registerExternalData.city" />
                <input type="text" placeholder="Adresa" ng-model="registerExternalData.address"/>
                <input type="text" placeholder="Telefon" ng-model="registerExternalData.phoneNumber"/>
                <fieldset id="genderRadio">
                    <ul class="login-line">
                        <li><label>Spol: </label></li>
                        <li><label class="radio-inline"><input type="radio" value="musko" ng-model="registerExternalData.gender" name="genderRadio">Muško</label></li>
                        <li><label class="radio-inline"><input type="radio" value="zensko" ng-model="registerExternalData.gender" name="genderRadio">Žensko</label></li>
                    </ul>
                </fieldset>
                <fieldset id="employmentRadio">
                    <ul class="login-line">
                        <li><label>Zaposlenost: </label></li>
                        <li><label class="radio-inline"><input type="radio" value="zaposlen" ng-model="registerExternalData.employment" name="employmentRadio">Zaposlen/a</label></li>
                        <li><label class="radio-inline"><input type="radio" value="nezaposlen" ng-model="registerExternalData.employment" name="employmentRadio">Nezaposlen/a</label></li>
                        <li><label class="radio-inline"><input type="radio" value="student" ng-model="registerExternalData.employment" name="employmentRadio">Student</label></li>
                    </ul>
                </fieldset>
                <fieldset id="employmentRadio">
                    <ul class="login-line">
                        <li><label>Nivo fizičke spreme: </label></li>
                        <li><label class="radio-inline"><input type="radio" value="0" ng-model="registerExternalData.healthStatus" name="healthStatusRadio">Nizak</label></li>
                        <li><label class="radio-inline"><input type="radio" value="1" ng-model="registerExternalData.healthStatus" name="healthStatusRadio">Srednji</label></li>
                        <li><label class="radio-inline"><input type="radio" value="2" ng-model="registerExternalData.healthStatus" name="healthStatusRadio">Visok</label></li>
                    </ul>
                </fieldset>
                <button class="rectangle-btn login-btn-halfway no-bg-btn" data-toggle="tab" href="#postani-clan-1" target="_self">Nazad</button><button class="rectangle-btn login-btn-halfway" data-toggle="tab" href="#postani-clan-3" target="_self" ng-click="loadSubCategories()">Dalje</button>
            </div>
            <div id="postani-clan-3" class="tab-pane fade">
                <div class="login-line"><p>Odaberi svoje karakteristike (najmanje po jednu)</p></div>
                <div class="text-center" ng-show="isloading()">
                    <img src="img/spin.gif" />
                </div>
                <div class="custom-accordion" id="accordion" ng-hide="isloading()">
                    <div class="panel panel-default" ng-repeat="category in interestCategories">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" ng-href="{{'#collapse' + $index}}" href="" target="_self">
                            <h4 class="panel-title">
                                <span>
                                    {{category.categoryName}}
                                </span>
                            </h4>
                        </div>
                        <div id="{{'collapse' + $index}}" class="panel-collapse collapse" ng-class='{in:$first}'>
                            <div class="panel-body">
                                <ul class="login-list">
                                    <li class="login-list-checkbox-label" ng-repeat="subCategory in subCategories" ng-click="toggleSelection(subCategory)" ng-show="subCategory.categoryId===category.id">
                                        <label>{{subCategory.name}}</label>
                                        <input type="checkbox" ng-checked="selected.indexOf(subCategory) > -1" />
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="rectangle-btn login-btn-halfway no-bg-btn" data-toggle="tab" href="#postani-clan-2" target="_self">Nazad</button><button class="rectangle-btn login-btn-halfway" data-toggle="tab" href="#postani-clan-4" target="_self" ng-click="registerExternal()">Postani Član</button>
            </div>
            <!--<div id="postani-clan-4" class="tab-pane fade">
                <div class="login-line"><p>Uplata za članstvo</p></div>
                <button class="rectangle-btn login-btn-halfway no-bg-btn" data-toggle="tab" href="#postani-clan-3" target="_self">Nazad</button><button class="rectangle-btn login-btn-halfway" data-toggle="tab" target="_self" data-ng-click="registerExternal()">Postani Član</button>
            </div>-->
        </div>
    </div>
</div>