<div class="login-screen">

    <div class="login-form">
        <ul class="nav nav-tabs login-tabs">
            <li class="active"><a data-toggle="tab" href="#postani-clan" target="_self" ng-click="goToReg()">Postani Član</a></li>
            <li><a data-toggle="tab" href="#prijava" target="_self" ng-click="goToLogin()">Prijava</a></li>
        </ul>
        <div class="tab-content">
            <div id="prijava" class="tab-pane fade">
                <div class="login-line"><p>Unesi podatke za prijavu</p></div>
                <!--<input type="text" placeholder="Email" />-->
                <input type="text" placeholder="Korisnicko Ime" data-ng-model="loginData.userName" required />
                <input type="password" placeholder="Lozinka" data-ng-model="loginData.password" required />
                <button class="rectangle-btn login-btn-full" type="submit" data-ng-click="login()">Prijava</button>
                <div class="login-line"><p>ili</p></div>
                <a href="" class="connect facebook">
                    <div class="connect-icon">
                        <i class="fa fa-facebook"></i>
                    </div>
                    <div class="connect-context" data-ng-click="authExternalProvider('Facebook')">
                        <span>Prijava putem<strong> Facebook-a</strong></span>
                    </div>
                </a>
                <a href="" class="connect gplus">
                    <div class="connect-icon">
                        <i class="fa fa-google-plus"></i>
                    </div>
                    <div class="connect-context" data-ng-click="authExternalProvider('Google')">
                        <span>Prijava putem<strong> Google Plus-a</strong></span>
                    </div>
                </a>
            </div>
            <div id="postani-clan" class="tab-pane active in">
                <div class="login-line"><p>Odaberi način registracije</p></div>
                <button class="rectangle-btn login-btn-full" data-toggle="tab" href="#postani-clan-1" target="_self">Registriraj se</button>
                <div class="login-line"><p>ili</p></div>
                <a href="" class="connect facebook">
                    <div class="connect-icon">
                        <i class="fa fa-facebook"></i>
                    </div>
                    <div class="connect-context" data-ng-click="authExternalProvider('Facebook')">
                        <span>Postani član putem<strong> Facebook-a</strong></span>
                    </div>
                </a>
                <a href="" class="connect gplus">
                    <div class="connect-icon">
                        <i class="fa fa-google-plus"></i>
                    </div>
                    <div class="connect-context" data-ng-click="authExternalProvider('Google')">
                        <span>Postani član putem<strong> Google Plus-a</strong></span>
                    </div>
                </a>
            </div>
            <div id="postani-clan-1" class="tab-pane fade">
                <div class="login-line"><p>Korisnički podaci</p></div>
                <form name="testForm" novalidate>
                    <div class="form-group no-magrig" ng-class="{'custom-label-error':testForm.username.$invalid}">
                        <input type="text"
                               class="form-control"
                               name="username"
                               placeholder="Korisničko Ime"
                               ng-model="registrationData.userName"
                               required />
                    </div>
                    <input type="password" placeholder="Šifra" ng-model="registrationData.password" required />
                    <input type="password" placeholder="Potvrdi Šifru" ng-model="registrationData.confirmPassword" />
                    <input type="text" placeholder="Ime" ng-model="registrationData.firstName" />
                    <input type="text" placeholder="Prezime" ng-model="registrationData.lastName" />
                    <input type="email" placeholder="Email" ng-model="registrationData.email" />


                    <button class="rectangle-btn login-btn-halfway no-bg-btn" data-toggle="tab" target="_self" ng-click="resetRegistration()">Nazad</button><button  class="rectangle-btn login-btn-halfway" data-toggle="tab" href="#postani-clan-2" target="_self" ng-click="userFormValidate(testForm.$valid)">Dalje</button>
                </form>
            </div>
            <div id="postani-clan-2" class="tab-pane fade">
                <div class="login-line"><p>Lični podaci</p></div>
                <!--<div class="login-line">
                    <label>Datum Rođenja: </label>
                    <input id="birthdate" type="text" uib-datepicker-popup="{{format}}" ng-model="registrationData.dateOfBirth" ng-click="open1()"
                           is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" alt-input-formats="altInputFormats"
                           current-text="Današnji datum" clear-text="Obriši" close-text="Zatvori" />
                </div>-->
                <div class="login-line" style="overflow:hidden;">
                    <div class="row" style="padding-top: 10px;">
                        <div class="col-md-3"><label style="line-height:20px;">Datum Rođenja: </label></div>
                        <div class="col-md-3">
                            <select type="text" class="form-control" ng-model="dateOfBirth.day">
                                <option ng-repeat="day in dateOfBirth.days" ng-value="day">{{day}}</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <select type="text" class="form-control" ng-model="dateOfBirth.month">
                                <option ng-repeat="month in dateOfBirth.months" ng-value="month">{{month}}</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <select type="text" class="form-control" ng-model="dateOfBirth.year">
                                <option ng-repeat="year in dateOfBirth.years" ng-value="year">{{year}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <input type="text" placeholder="Grad" ng-model="registrationData.city" />
                <input type="text" placeholder="Adresa" ng-model="registrationData.address" />
                <div class="login-line" style="overflow: hidden;">
                    <div class="row">
                        <div class="col-md-2"><label>Telefon:</label></div>
                        <div class="col-md-4" style="margin-top: 15px;">
                            <select class="form-control" ng-model="selectedCountry">
                                <option ng-repeat="country in countries" ng-value="country">{{country.name}} {{country.number}}</option>
                            </select>
                        </div>
                        <div class="col-md-6"><input type="text" placeholder="Broj" ng-model="registrationData.phoneNumber" /></div>
                    </div>
                </div>
                <fieldset id="genderRadio">
                    <ul class="login-line">
                        <li><label>Spol: </label></li>
                        <li><label class="radio-inline"><input type="radio" value="musko" ng-model="registrationData.gender" name="genderRadio">Muško</label></li>
                        <li><label class="radio-inline"><input type="radio" value="zensko" ng-model="registrationData.gender" name="genderRadio">Žensko</label></li>
                    </ul>
                </fieldset>
                <fieldset id="employmentRadio">
                    <ul class="login-line">
                        <li><label>Radni status: </label></li>
                        <li><label class="radio-inline"><input type="radio" value="zaposlen" ng-model="registrationData.employment" name="employmentRadio">Zaposlen/a</label></li>
                        <li><label class="radio-inline"><input type="radio" value="nezaposlen" ng-model="registrationData.employment" name="employmentRadio">Nezaposlen/a</label></li>
                        <li><label class="radio-inline"><input type="radio" value="student" ng-model="registrationData.employment" name="employmentRadio">Student</label></li>
                    </ul>
                </fieldset>
                <fieldset id="healthStatusRadio">
                    <ul class="login-line">
                        <li><label>Nivo fizičke spreme: </label></li>
                        <li><label class="radio-inline"><input type="radio" value="nizak" ng-model="registrationData.healthStatus" name="healthStatusRadio">Nizak</label></li>
                        <li><label class="radio-inline"><input type="radio" value="srednji" ng-model="registrationData.healthStatus" name="healthStatusRadio">Srednji</label></li>
                        <li><label class="radio-inline"><input type="radio" value="visok" ng-model="registrationData.healthStatus" name="healthStatusRadio">Visok</label></li>
                    </ul>
                </fieldset>
                <button class="rectangle-btn login-btn-halfway no-bg-btn" data-toggle="tab" href="#postani-clan-1" target="_self">Nazad</button><button class="rectangle-btn login-btn-halfway" data-toggle="tab" href="#postani-clan-3" target="_self" ng-click="loadSubCategories()">Dalje</button>
            </div>
            <div id="postani-clan-3" class="tab-pane fade">
                <div class="login-line"><p>Odaberi svoje karakteristike (najmanje po jednu)</p></div>
                <div class="text-center" ng-show="isloading()">
                    <img src="img/spin.gif" />
                </div>
                <div class="custom-accordion" id="accordion" ng-hide="isloading()">
                    <div class="panel panel-default" ng-repeat="category in interestCategories">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" ng-href="{{'#collapse' + $index}}" href="" target="_self">
                            <h4 class="panel-title">
                                <span>
                                    {{category.categoryName}}
                                </span>
                            </h4>
                        </div>
                        <div id="{{'collapse' + $index}}" class="panel-collapse collapse" ng-class='{in:$first}'>
                            <div class="panel-body">
                                <ul class="login-list">
                                    <li class="login-list-checkbox-label"  ng-repeat="subCategory in subCategories" ng-click="toggleSelection(subCategory)" ng-show="subCategory.categoryId===category.id">
                                        <label>{{subCategory.name}}</label>
                                        <input type="checkbox" ng-checked="selected.indexOf(subCategory) > -1" />
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="rectangle-btn login-btn-halfway no-bg-btn" data-toggle="tab" href="#postani-clan-2" target="_self">Nazad</button><button class="rectangle-btn login-btn-halfway" target="_self" ng-click="signUp()">Postani Član</button>
            </div>
            <!--<div id="postani-clan-4" class="tab-pane fade">
                <div class="login-line"><p>Uplata za članstvo</p></div>
                <button class="rectangle-btn login-btn-halfway no-bg-btn" data-toggle="tab" href="#postani-clan-3" target="_self">Nazad</button><button class="rectangle-btn login-btn-halfway" data-toggle="tab" target="_self" ng-click="signUp()">Postani Član</button>
            </div>-->
        </div>
    </div>
</div>