
<div class="gray-wrapper">
    <div class="container">
        <div class="gallery-wrap">
            <div class="text-center" ng-show="isloading()">
                <img src="img/spin.gif" />
            </div>
            <div ng-hide="isloading()">
                <div class="events-settings" ng-if="userRole === 'Admin'">
                    <div class="row events-heading">
                        <div class="col-md-2">
                            <h3 style="margin:0; line-height:40px;">DOGAĐAJI</h3>
                        </div>
                        <!--<div class="col-md-6" ng-if="userRole === 'Admin'">
                            <button class="btn btn-default" ng-click="activeFilter=true">Aktuelni</button>
                            <button class="btn btn-default" ng-click="activeFilter=false">Završeni</button>
                            <button class="btn btn-default" ng-click="resetFilters()">Prikaži sve</button>
                        </div>-->
                        <div class="col-md-10" >
                            <button data-toggle="modal" data-target="#newEventModal" class="btn btn-success pull-right" ng-click="getModalResources()">Novi Događaj</button>
                            <button data-toggle="modal" data-target="#newCategoryModal" class="btn btn-success pull-right" style="margin-right:5px;"  ng-click="resetNewCategory()">Nova Kategorija</button>
                        </div>
                        <!--<div class="col-md-10 text-right" ng-if="userRole !== 'Admin'">
                            <button class="btn btn-default" ng-click="activeFilter=true">Aktuelni</button>
                            <button class="btn btn-default" ng-click="activeFilter=false">Završeni</button>
                            <button class="btn btn-default" ng-click="resetFilters()">Prikaži sve</button>
                        </div>-->
                    </div>
                </div>
                <div class="events-settings">

                    <div class="row">
                        <div class="col-md-12">
                            <form name="eventSearch">
                                <div class="row equal">
                                    <div class="col-md-5 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Ime događaja:</label>
                                            <input type="text" class="form-control" placeholder="" ng-model="titleFilterInput">
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Mjesto događaja:</label>
                                            <input type="text" class="form-control" placeholder="" ng-model="locationFilterInput">
                                        </div>
                                    </div>
                                    <!--<div class="col-md-2">
                </div>-->
                                    <div class="col-md-2 col-sm-12 col-xs-12">
                                        <button type="submit" class="btn btn-default btn-block" style="margin-top:25px;" ng-click="setFilters()">Pretraga</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2 col-sm-4 col-xs-12" ng-repeat="eventCategory in eventCategories | orderBy:'name'">
                            <div class="radio event-type-filter" ng-style="{'background-color': eventCategory.categoryColor}" ng-click="$parent.typeFilter=eventCategory.name">
                                <label style="padding: 0 15px;"><input type="radio" ng-model="$parent.typeFilter" ng-value="eventCategory.name" name="eventTypeRadio">{{(!eventCategory.name)?"Sve Kategorije":eventCategory.name}}</label>
                            </div>
                            <a href="" ng-show="userRole === 'Admin' && eventCategory.name">
                                <i class="fa fa-pencil" aria-hidden="true" data-toggle="modal" data-target="#editingCategoryModal" ng-click="setEditCategory(eventCategory)"></i>
                            </a>
                            <a href="" ng-show="userRole === 'Admin' && eventCategory.name">
                                <i class="fa fa-times" aria-hidden="true" data-toggle="modal" data-target="#deleteCategoryModal" ng-click="setDeleteCategory(eventCategory)"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12" ng-repeat="event in avevents | orderBy:'-date' |filter:{eventCategory:typeFilter, eventName:titleFilter, location:locationFilter, active:activeFilter}">
                        <div class="event-card material-shadow">
                            <div class="dropdown event-card-options" ng-show="userRole === 'Admin'">
                                <div data-toggle="dropdown"><i class="fa fa-ellipsis-v" aria-hidden="true" style="text-shadow:1px 1px 0 #333;"></i></div>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="" ng-href="#!/events/{{event.id}}">Pregled</a></li>
                                    <li><a href="" data-toggle="modal" data-target="#signupsModal" ng-click="listSignups(event.id)">Prijave</a></li>
                                    <li><a href="" ng-href="#!/events/{{event.id}}/finances">Finansije</a></li>
                                    <li><a href="" data-toggle="modal" data-target="#editEventModal" ng-click="setEditEvent(event.id)">Izmjena</a></li>
                                    <li><a href="" data-toggle="modal" data-target="#deleteEventModal" ng-click="setDeleteEvent(event.id)">Brisanje</a></li>
                                </ul>
                            </div>
                            <!--<div class="event-card-img-wrapper" ng-show="userRole === 'Admin'">
                                <div class="event-card-event-status">Skica</div>
                                <ul class="event-card-img-overlay">
                                    <li>
                                        <a class="rectangle-btn rectangle-btn-outline-dark go-to-event-btn" ng-href="#!/events/{{event.id}}">Pregled</a>
                                    </li>
                                    <li>
                                        <button class="rectangle-btn rectangle-btn-outline-dark" data-toggle="modal" data-target="#editEventModal" ng-click="setEditEvent(event.id)">Izmjena</button>
                                    </li>
                                    <li>
                                        <button class="rectangle-btn rectangle-btn-outline-dark" data-toggle="modal" data-target="#deleteEventModal" ng-click="setDeleteEvent(event.id)">Brisanje</button>
                                    </li>
                                </ul>
                                <img ng-src="{{event.imagePath}}" style="height: 100%; width: 100%; object-fit: cover;" />
                            </div>-->
                            <div class="event-card-img-wrapper" ng-click="goToEvent(event.id)">
                                <!--<div class="event-card-event-status">Otkazano</div>-->
                                <img ng-src="{{event.imagePath}}" style="height: 100%; width: 100%; object-fit: cover;" />
                            </div>
                            <div class="event-basic-info" ng-style="{'background-color': event.categoryColor}" ng-click="goToEvent(event.id)">
                                <div class="event-title">{{event.eventName}}</div>
                                <div class="event-date">
                                    <small>{{event.startDate | date: 'dd MMMM yyyy'}}<span> {{event.type}}</span></small>
                                </div>
                                <div class="event-location">{{event.location}}
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--NEW EVENT MODAL-->
<div id="newEventModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Novi događaj</h4>
            </div>
            <div class="modal-body">
                <!--<div style="margin: 15px;">-->
                    <form id="new-event-form">
                        <div class="container-fluid">
                            <ul class="row">
                                <li class="col-md-12 form-group">
                                    <label>Kategorija:</label>
                                    <select class="form-control" ng-model="newEvent.eventCategoryId">
                                        <option value="" disabled>---Odaberite---</option>
                                        <option ng-repeat="category in eventCategories track by category.id" ng-value="category.id">{{category.name}}</option>
                                    </select>
                                </li>
                                <li class="col-md-12 form-group">
                                    <label>Ime:</label>
                                    <input type="text" class="form-control" placeholder="" ng-model="newEvent.name">
                                </li>
                                <li class="col-md-12 form-group">
                                    <label>Lokacija:</label>
                                    <input type="text" class="form-control" placeholder="" ng-model="newEvent.location">
                                </li>
                                <li class="col-md-12 form-group">
                                    <label>Opis:</label>
                                    <textarea class="form-control" ng-model="newEvent.description"></textarea>
                                </li>
                                <li class="col-md-12 form-group">
                                    <label>Slika: </label>
                                    <input type="file" accept="image/*" ng-model="newEvent.image" base-sixty-four-input>
                                </li>
                                <li class="col-md-12 form-group">
                                    <label>Video link (embed):</label>
                                    <input type="text" class="form-control" ng-model="newEvent.videoLink">
                                </li>
                                <li class="col-md-4 form-group">
                                    <label>Prijave do: </label>
                                    <input class="form-control" type="text" uib-datepicker-popup="{{format}}" ng-model="newEvent.registrationDeadline" ng-click="open3()"
                                           is-open="popup3.opened" datepicker-options="dateOptions" ng-required="true" alt-input-formats="altInputFormats"
                                           current-text="Današnji datum" clear-text="Obriši" close-text="Zatvori" />
                                </li>
                                <li class="col-md-4 form-group">
                                    <label>Početak: </label>
                                    <input class="form-control" type="text" uib-datepicker-popup="{{format}}" ng-model="newEvent.startDate" ng-click="open1()"
                                           is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" alt-input-formats="altInputFormats"
                                           current-text="Današnji datum" clear-text="Obriši" close-text="Zatvori" />
                                </li>
                                <li class="col-md-4 form-group">
                                    <label>Kraj: </label>
                                    <input class="form-control" type="text" uib-datepicker-popup="{{format}}" ng-model="newEvent.endDate" ng-click="open2()"
                                           is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" alt-input-formats="altInputFormats"
                                           current-text="Današnji datum" clear-text="Obriši" close-text="Zatvori" />
                                </li>
                                <li class="col-md-4 form-group">
                                    <label>Valuta:</label>
                                    <select class="form-control" ng-model="newEvent.eventCurrencyId">
                                        <option value="" disabled>---Odaberite---</option>
                                        <option ng-repeat="currency in currencies" ng-value="currency.id">{{currency.currencyValue}}</option>
                                    </select>
                                </li>
                                <li class="col-md-4 form-group">
                                    <label>Cijena za članove: </label>
                                    <input type='number' class="form-control" ng-model="newEvent.membersPrice" />
                                </li>
                                <li class="col-md-4 form-group">
                                    <label>Cijena za goste: </label>
                                    <input type='number' class="form-control" ng-model="newEvent.nonMembersPrice" />
                                </li>
                                <li class="col-md-12 form-group">
                                    <label>Kriterij za prijavu:</label>
                                    <input type="text" class="form-control" placeholder="" ng-model="newEvent.applyCriteria">
                                </li>
                            </ul>
                            <h4>Popratni Linkovi:</h4>
                            <div class="row">
                                <div class="col-md-12" ng-repeat="link in newEvent.eventLinks track by link.index">
                                    <div class="row">
                                        <div class="col-md-1 new-event-link-icons" ng-mouseenter="linkHovered=$index" ng-mouseleave="linkHovered=undefined">
                                            <span class="new-event-link" ng-if="linkHovered!==$index"><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
                                            <span class="new-event-link" ng-if="linkHovered===$index"><i class="fa fa-times" aria-hidden="true" style="color:red; cursor: pointer;" ng-click="removeLink($index)"></i></span>
                                        </div>
                                        <div class="form-group col-md-5">
                                            <label>Stranica: </label>
                                            <input type="text" class="form-control" ng-model="link.name" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Link: </label>
                                            <input type="text" class="form-control" ng-model="link.link" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                <!--</div>-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary pull-left" ng-click="addLinkNewEvent()">Dodaj link</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="createEvent()">Napravi događaj</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
            </div>
        </div>

    </div>
</div>


<!--EDIT EVENT MODAL-->
<div id="editEventModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Izmjena događaja</h4>
            </div>
            <div class="modal-body">
                    <form id="new-event-form">
                        <div class="container-fluid">
                            <ul class="row">
                                <li class="col-md-12 form-group">
                                    <label>Kategorija:</label>
                                    <select class="form-control" ng-model="editingEvent.eventCategoryId">
                                        <option ng-repeat="category in eventCategories track by category.id" ng-value="category.id">{{category.name}}</option>
                                    </select><!--ng-options="category.id as category.name for category in eventCategories track by category.id"-->
                                </li>
                                <li class="col-md-12 form-group">
                                    <label>Ime:</label>
                                    <input type="text" class="form-control" placeholder="" ng-model="editingEvent.name">
                                </li>
                                <li class="col-md-12 form-group">
                                    <label>Lokacija:</label>
                                    <input type="text" class="form-control" placeholder="" ng-model="editingEvent.location">
                                </li>
                                <li class="col-md-12 form-group">
                                    <label>Opis:</label>
                                    <textarea class="form-control" ng-model="editingEvent.description"></textarea>
                                </li>
                                <li class="col-md-12 form-group">
                                    <label>Slika: </label>
                                    <input type="file" accept="image/*" ng-model="editingEvent.image" base-sixty-four-input>
                                </li>
                                <li class="col-md-12 form-group">
                                    <label>Video:</label>
                                    <textarea class="form-control" ng-model="editingEvent.videoLink"></textarea>
                                </li>
                                <li class="col-md-4 form-group">
                                    <label>Prijave do: </label>
                                    <input class="form-control" type="text" uib-datepicker-popup="{{format}}" ng-model="editingEvent.registrationDeadline" ng-click="open3()"
                                           is-open="popup3.opened" datepicker-options="dateOptions" ng-required="true" alt-input-formats="altInputFormats"
                                           current-text="Današnji datum" clear-text="Obriši" close-text="Zatvori" />
                                </li>
                                <li class="col-md-4 form-group">
                                    <label>Početak: </label>
                                    <input class="form-control" type="text" uib-datepicker-popup="{{format}}" ng-model="editingEvent.startDate" ng-click="open1()"
                                           is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" alt-input-formats="altInputFormats"
                                           current-text="Današnji datum" clear-text="Obriši" close-text="Zatvori" />
                                </li>
                                <li class="col-md-4 form-group">
                                    <label>Kraj: </label>
                                    <input class="form-control" type="text" uib-datepicker-popup="{{format}}" ng-model="editingEvent.endDate" ng-click="open2()"
                                           is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" alt-input-formats="altInputFormats"
                                           current-text="Današnji datum" clear-text="Obriši" close-text="Zatvori" />
                                </li>
                                <li class="col-md-4 form-group">
                                    <label>Valuta:</label>
                                    <select class="form-control" ng-model="editingEvent.eventCurrencyId">
                                        <option value="" disabled>---Odaberite---</option>
                                        <option ng-repeat="currency in currencies" ng-value="currency.id">{{currency.currencyValue}}</option>
                                    </select>
                                </li>
                                <li class="col-md-4 form-group">
                                    <label>Cijena za članove: </label>
                                    <input type='number' class="form-control" ng-model="editingEvent.membersPrice" />
                                </li>
                                <li class="col-md-4 form-group">
                                    <label>Cijena za goste: </label>
                                    <input type='number' class="form-control" ng-model="editingEvent.nonMembersPrice" />
                                </li>
                                <li class="col-md-12 form-group">
                                    <label>Kriterij za prijavu:</label>
                                    <input type="text" class="form-control" placeholder="" ng-model="editingEvent.applyCriteria">
                                </li>
                            </ul>
                            <h4>Popratni Linkovi:</h4>
                            <div class="row">
                                <div class="new-event-links" ng-repeat="link in editingEvent.eventLinks">
                                    <div class="col-md-1 new-event-link-icons" ng-mouseenter="linkHovered=$index" ng-mouseleave="linkHovered=undefined">
                                        <span class="new-event-link" ng-if="linkHovered!==$index"><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
                                        <span class="new-event-link" ng-if="linkHovered===$index"><i class="fa fa-times" aria-hidden="true" style="color:red; cursor: pointer;" ng-click="deleteLink(link, $index)"></i></span>
                                    </div>
                                    <div class="form-group col-md-5">
                                        <label>Stranica: </label>
                                        <input type="text" class="form-control" ng-model="link.name" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Link: </label>
                                        <input type="text" class="form-control" ng-model="link.link" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary pull-left" ng-click="addLinkEditingEvent()">Dodaj link</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="updateEvent()">Izmijeni događaj</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelUpdate()">Zatvori</button>
            </div>
        </div>

    </div>
</div>
<!--DELETE EVENT MODAL-->
<div id="deleteEventModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Brisanje događaja</h4>
            </div>
            <div class="modal-body">
                <p>Jeste li sigurni da želite obrisati događaj: {{deletingEvent.eventName}}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteEvent()">Izbriši događaj</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelDelete()">Zatvori</button>
            </div>
        </div>

    </div>
</div>

<!--NEW CATEGORY MODAL-->
<div id="newCategoryModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Nova Kategorija</h4>
            </div>
            <div class="modal-body">
                <ul>
                    <li class="form-group">
                        <label>Naziv kategorije:</label>
                        <input type="text" class="form-control" placeholder="" ng-model="newCategory.Name">
                    </li>
                    <li class="form-group">
                        <label>Opis:</label>
                        <input type="text" class="form-control" placeholder="" ng-model="newCategory.Description">
                    </li>
                    <li class="form-group">
                        <label>Reprezentativna boja:</label>
                        <input colorpicker colorpicker-size="250" type="text" class="form-control" ng-model="newCategory.CategoryColor" />
                    </li>
                    <li class="form-group">
                        <label>Odaberite sliku:</label>
                        <input type="file" accept="image/*" ng-model="newCategory.ImageUrl.image" base-sixty-four-input>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="createNewCategory()">Napravi</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="resetNewCategory()">Zatvori</button>
            </div>
        </div>

    </div>
</div>

<!--EDIT CATEGORY MODAL-->
<div id="editingCategoryModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Izmjena Kategorije</h4>
            </div>
            <div class="modal-body">
                <ul>
                    <li class="form-group">
                        <label>Ime:</label>
                        <input type="text" class="form-control" placeholder="" ng-model="editingCategory.name">
                    </li>
                    <li class="form-group">
                        <label>Opis:</label>
                        <input type="text" class="form-control" placeholder="" ng-model="editingCategory.description">
                    </li>
                    <li class="form-group">
                        <label>Reprezentativna boja:</label>
                        <input colorpicker colorpicker-size="250" type="text" class="form-control" ng-model="editingCategory.categoryColor" />
                    </li>
                    <li class="form-group">
                        <label>Odaberite sliku:</label>
                        <input type="file" accept="image/*" ng-model="newCategory.ImageUrl.image" base-sixty-four-input>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateCategory()">Izmijeni</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelEditCategory()">Zatvori</button>
            </div>
        </div>

    </div>
</div>

<!--DELETE CATEGORY MODAL-->
<div id="deleteCategoryModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Brisanje kategorije</h4>
            </div>
            <div class="modal-body">
                <p>Jeste li sigurni da želite obrisati kategoriju: {{deletingCategory.Name}}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteCategory()">Izbriši</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelDeleteCategory()">Zatvori</button>
            </div>
        </div>

    </div>
</div>

<!--SIGNUPS MODAL-->
<div id="signupsModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 60%;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Prijave</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table profile-stats-table">
                        <thead>
                            <tr>
                                <th>Datum</th>
                                <th>Ime</th>
                                <th>Prezime</th>
                                <th>Cijena</th>
                                <th>Bilješka</th>
                                <th class="text-right">Status Prijave</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="profile-events-wrap" ng-repeat="signup in signupsEdit">
                                <td style="vertical-align:middle;"><p>{{signup.applicationDate | date:'dd MMMM yy'}}</p>
                                <!--<input disabled class="form-control" type="text" ng-value="signup.applicationDate | date:'dd MMMM yy'"/>-->
                                </td>
                                <td style="vertical-align:middle;">
                                <p>{{signup.firstName}}</p>
                                <!--<input disabled class="form-control" type="text" ng-value="signup.firstName" />-->
                                </td>
                                <td style="vertical-align:middle;">
                                <p>{{signup.lastName}}</p>
                                <!--<input disabled class="form-control" type="text" ng-value="signup.lastName" />-->
                                </td>
                                <td style="vertical-align:middle;"><input class="form-control" type="number" ng-model="signup.eventPrice"/></td>
                                <td style="vertical-align:middle;"><textarea class="form-control" ng-model="signup.note" style="max-width:100%;"></textarea></td>
                                <td class="text-right" style="vertical-align:middle;">
                                    <select class="form-control" ng-model="signup.applicationStatus">
                                        <option value="" disabled>---Odaberite---</option>
                                        <option value="Prihvacena">Prihvacena</option>
                                        <option value="Cekanje">Cekanje</option>
                                        <option value="Otkazana">Otkazana</option>
                                        <option value="Odbijena">Odbijena</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateSignups()">Spasi</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelSignupChanges()">Zatvori</button>
            </div>
        </div>

    </div>
</div>
