<!DOCTYPE html>
<html ng-app="avApp">
<head>
    <title>Ars Vivendi</title>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width", initial-scale="1" />
    <!--Styles-->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <!--<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css"/>-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet" />

    <!--Scripts-->
    <script src="libs/angular.min.js"></script>
    <script src="libs/angular-locale_bs-latn-ba.js"></script>
    <script src="libs/jquery-3.1.1.min.js"></script>
    <script src="libs/moment.min.js"></script>
    <script src="libs/angular-route.min.js"></script>
    <script src="libs/angular-animate.min.js"></script>
    <script src="libs/bootstrap.min.js"></script>
    <script src="libs/ui-bootstrap-tpls-2.5.0.min.js"></script>

    <!--Angular App-->
    <script src="libs/angular-local-storage.min.js"></script>
    <script src="app/app.js"></script>
    <!--Services-->
    <script src="app/services/authenticationInterceptorService.js"></script>
    <script src="app/services/authenticationService.js"></script>
    <script src="app/services/ordersService.js"></script>
    <!--Controllers-->
    <script src="app/pages/home/homeController.js"></script>
    <script src="app/pages/blog/blogController.js"></script>
    <script src="app/pages/login/loginController.js"></script>
    <script src="app/pages/events/eventsController.js"></script>
    <script src="app/pages/members/members.js"></script>
    <script src="app/pages/admin/dashboard/dashboardController.js"></script>
    <script src="app/pages/newEvent/newEventController.js"></script>
    <script src="app/pages/mainController.js"></script>
    <script src="app/pages/profile/profileController.js"></script>
    <script src="app/pages/about/aboutController.js"></script>
    <!--Services-->
</head>
<body>


    <div class="welcome-header">
        <div class="container">
            <div class="welcome-header-wrap">
                <ul class="welcome-header-social">
                    <li><a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="https://twitter.com/"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.youtube.com/"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                    <li>Kontakt tel. +387/61-999-999</li>
                </ul>
                <ul class="welcome-header-navigation">
                    <li><a href="#!/login">Prijava</a></li>
                    <li><a href="#!/login">Postani Član</a></li>
                </ul>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-custom" id="main-navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <div class="nav-toggle-btn">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </div>
                </button>
                <a class="navbar-brand navbar-brand-custom" href="#">Ars Vivendi</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right navbar-nav-custom" ng-controller="mainController">
                    <li  ng-repeat="item in menuItems"  data-toggle="collapse" data-target=".navbar-collapse.in"><a href="{{ item.link }}" id="{{ item.id }}">{{ item.text }}</a></li>
                    <li class="hide-item"  data-toggle="collapse" data-target=".navbar-collapse.in"><a href="#!/login">Prijava</a></li>
                    <li class="hide-item" data-toggle="collapse" data-target=".navbar-collapse.in"><a href="#!/login">Postani Član</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--<div class="welcome-navbar">
        <div class="welcome-navbar-title">Ars Vivendi</div>
            <ul ng-controller="mainController" class="welcome-navbar-navigation">
                <li ng-repeat="item in menuItems"><a href="#!{{ item.link }}">{{ item.text }}</a></li>
            </ul>
    </div>-->

    <div class="templates" ng-view></div>

    
</body>
</html>