<div class="gray-wrapper">
    <div class="container">
        <div class="box-members">
            <div class="text-center" ng-show="membersLoading">
                <img src="img/spin.gif" />
            </div>
            <div class="row" ng-hide="membersLoading">
                <div class="col-md-3">
                    <div class="member-filters" ng-class="{'member-filters-visible':filterActive}">
                        <div class="member-filters-inner">
                            <div class="text-center">
                            <div ng-show="filteringMembers"><img src="img/spin.gif"/></div>
                            <button class="btn btn-primary" style="margin-bottom: 20px;" ng-click="applyFilters()">Filteriši</button><button class="btn btn-default" style="margin-bottom: 20px;" ng-click="resetFilters()">Resetuj filtere</button><button class="btn btn-default" style="margin-bottom: 20px;" ng-click="filterActive=false;">Zatvori</button></div>
                            <div class="panel panel-default">
                                <div class="members-filter-toggle" ng-click="isCollapsed.panel2 = !isCollapsed.panel2">Filteri po Kolonama</div>
                                <div class="members-filter" uib-collapse="isCollapsed.panel2">
                                    <!--<div class="form-group">
                    <select class="form-control" ng-model="pageSize" ng-options="pageSizeOption.value as pageSizeOption.name for pageSizeOption in pageSizeOptions"></select>
                </div>-->
                                    <div class="form-group">
                                        <label>Ime:</label>
                                        <input type="text" class="form-control" ng-model="filterModel.firstName">
                                    </div>
                                    <div class="form-group">
                                        <label>Prezime:</label>
                                        <input type="text" class="form-control" ng-model="filterModel.lastName">
                                    </div>
                                    <div class="form-group">
                                        <label>Email:</label>
                                        <input type="text" class="form-control" ng-model="filterModel.email">
                                    </div>
                                    <div class="form-group">
                                        <label>Telefon:</label>
                                        <input type="text" class="form-control" ng-model="filterModel.phone">
                                    </div>
                                    <div class="form-group">
                                        <label>Adresa:</label>
                                        <input type="text" class="form-control" ng-model="filterModel.address">
                                    </div>
                                </div>
                            </div>

                            <!--<div class="panel panel-default">
                                <div class="members-filter-toggle">Filtriranje po dugu</div>
                                <div class="members-filter">
                                    <label class="radio-inline"><input type="radio" name="debtradio" ng-model="filterModel.byDebt" value="true">Dužni</label>
                                    <label class="radio-inline"><input type="radio" name="debtradio" ng-model="filterModel.byDebt" value="false">Bez duga</label>
                                </div>
                            </div>-->
                            
                            <div class="panel panel-default">
                                <div class="members-filter-toggle">Filteri po grupama i događajima</div>
                                <div class="members-filter">
                                        <!--<div class="form-group">
                                            <label>Grupe:</label>
                                            <select class="form-control" ng-model="filterByGroup.value" ng-change="">
                                                <option value="">---Bez filtera---</option>
                                                <option ng-repeat="group in allGroups" ng-value="group.groupName">{{group.groupName}}</option>
                                            </select>
                                        </div>-->
                                        <div class="form-group">
                                            <label>Aktuelni događaji:</label>
                                            <select class="form-control" ng-model="filterByUpcomingEvent.value" ng-change="logme()">
                                                <option value="">---Bez filtera---</option>
                                                <option ng-repeat="event in upcoming" ng-value="event.eventName">{{event.eventName}} | {{event.startDate | date: 'dd-MMM-yyyy'}}</option>
                                            </select>
                                        </div>
                                    <div class="form-group">
                                        <label>Svi događaji:</label>
                                            <select class="form-control" ng-model="filterByPastEvent.value" ng-change="logme2()">
                                                <option value="">---Bez filtera---</option>
                                                <option ng-repeat="event in avevents" ng-value="event.eventName">{{event.eventName}} | {{event.startDate | date: 'dd-MMM-yyyy'}}</option>
                                            </select>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="panel panel-default" ng-repeat="category in interestCategories">
                                <div class="members-filter-toggle">{{category.categoryName}}</div>
                                <div class="members-filter">
                                    <ul>
                                        <li class="checkbox" ng-repeat="subCategory in subCategories" ng-if="subCategory.categoryId===category.id">
                                            <label><input type="checkbox" value="" ng-model="subCategory.checked" ng-change="toggleCharacteristic(subCategory.name)">{{subCategory.name}}</label><!--ng-change="updateInterests(subCategory.name)"-->
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="text-center">
                                <div ng-show="filteringMembers"><img src="img/spin.gif" /></div>
                            <button class="btn btn-primary" style="margin-bottom: 20px;" ng-click="applyFilters()">Filteriši</button><button class="btn btn-default" style="margin-bottom: 20px;" ng-click="resetFilters()">Resetuj filtere</button><button class="btn btn-default" style="margin-bottom: 20px;" ng-click="filterActive=false;">Zatvori</button></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="box-members-list">
                        <p class="members-table-title">Korisnici</p>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="members-table-options text-right" ng-hide="showCheckboxes || newGroupActive || groupManagementActive">
                                    <button class="btn btn-default" ng-click="toggleFilterBar()"><i class="fa fa-filter" aria-hidden="true"></i> Filteri</button>
                                    <button class="btn btn-primary" ng-click="prepareEmail()"><i class="fa fa-envelope-o" aria-hidden="true"></i> Priprema emaila</button>
                                    <button class="btn btn-primary" ng-click="startGroupManagement()"><i class="fa fa-users" aria-hidden="true"></i> Ažuriranje Grupa</button>
                                    <button class="btn btn-success" ng-click="startNewGroup()"><i class="fa fa-plus" aria-hidden="true"></i> Nova grupa</button>
                                    <!--<button class="btn btn-success" data-toggle="modal" data-target="#newMemberModal"><i class="fa fa-user-o" aria-hidden="true"></i> Dodaj korisnika</button>-->
                                </div>
                                <div class="members-table-options" ng-if="newGroupActive">
                                    <div class="row">
                                        <form name="newGroupForm" novalidate>
                                            <div class="col-md-12"><label>Ime Grupe:</label></div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div ng-show="newGroupForm.$submitted || newGroupForm.groupName.$touched">
                                                        <div class="alert alert-danger" role="alert" ng-show="newGroupForm.groupName.$error.required">Obavezno polje</div>
                                                    </div>
                                                    <input type="text" name="groupName" class="form-control" ng-model="newGroup.groupName" required/>
                                                </div>
                                            </div>
                                            <div class="col-md-8 text-right">
                                                <button type="button"class="btn btn-default" ng-click="cancelNewGroup()">Odustani</button>
                                                <button type="button"class="btn btn-default" ng-click="toggleFilterBar()"><i class="fa fa-filter" aria-hidden="true"></i> Filteri</button>
                                                <button type="button"class="btn btn-primary" data-toggle="modal" data-target="#groupMembersModal" ng-click=""><i class="fa fa-user" aria-hidden="true"></i> Pregled</button>
                                                <button type="submit" class="btn btn-primary" ng-click="createGroup(newGroupForm)">Spasi</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="members-table-options" ng-if="groupManagementActive">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form name="editGroupForm" novalidate>
                                                <!--<div class="row">
                                                    <div class="col-md-2"><label>Ime Grupe:</label></div>
                                                    <div class="col-md-4"><label>Novo ime grupe:</label></div>
                                                    <div class="col-md-6">
                                                    </div>
                                                </div>-->
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <select class="form-control" ng-model="newUserList.groupId" style="width:auto; display:inline; " ng-change="listGroupUsers(newUserList.groupId)">
                                                            <option value="" disabled>---Odaberite grupu---</option>
                                                            <option ng-repeat="group in allGroups" ng-value="group.id">{{group.groupName}}</option>
                                                        </select>
                                                    </div>
                                                    <!--<div class="col-md-4">
                                                        <div class="form-group">
                                                            <div ng-show="editGroupForm.$submitted || editGroupForm.groupName.$touched">
                                                                <div class="alert alert-danger" role="alert" ng-show="editGroupForm.groupName.$error.required">Obavezno polje</div>
                                                            </div>
                                                            <input type="text" name="groupName" class="form-control" ng-model="editingGroup.groupName" required />
                                                        </div>
                                                    </div>-->
                                                    <div class="col-md-10 text-right">
                                                        <button type="button" class="btn btn-default" ng-click="cancelGroupManagement()">Odustani</button>
                                                        <button type="button" class="btn btn-default" ng-click="toggleFilterBar()"><i class="fa fa-filter" aria-hidden="true"></i> Filteri</button>
                                                        <button type="button" ng-if="newUserList.groupId" class="btn btn-danger" data-toggle="modal" data-target="#deleteGroupModal" ng-click="setDeletingGroup(newUserList.groupId)">Obriši grupu</button>
                                                        <button type="button" ng-if="newUserList.groupId" class="btn btn-primary" data-toggle="modal" data-target="#groupMembersModal" ng-click=""><i class="fa fa-user" aria-hidden="true"></i> Pregled</button>
                                                        <button type="submit" ng-if="newUserList.groupId" class="btn btn-primary" ng-click="updateEditingGroup(editGroupForm)">Spasi</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="members-table-options" ng-show="prepareEmailActive">
                                    <div class="row">
                                        <div class="col-md-2"><button class="btn btn-default" ng-click="cancelPrepareEmail()">Odustani</button></div>
                                        <div class="col-md-10 text-right">
                                            <button class="btn btn-default" ng-click="toggleFilterBar()" style="margin-bottom:3px"><i class="fa fa-filter" aria-hidden="true" ></i> Filteri</button>
                                            <select class="form-control" ng-model="newUserList.groupId" style="width:auto; display:inline-block;" ng-change="listGroupUsers(newUserList.groupId)">
                                                <option value="">---Odaberite grupu---</option>
                                                <option ng-repeat="group in allGroups" ng-value="group.id">{{group.groupName}}</option>
                                            </select>
                                            <button type="button" ng-if="selectedUsers" class="btn btn-primary" data-toggle="modal" data-target="#groupMembersModal" ng-click="" style="margin-bottom:3px"><i class="fa fa-user" aria-hidden="true"></i> Pregled</button>
                                            <button class="btn btn-primary" style="margin-bottom:3px" data-toggle="modal" data-target="#emailModal">Napiši email</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!--<div class="box-members-list-wrap">
                            <ul id="top-members-pagination" uib-pagination total-items="filteredMembers.length - 1" items-per-page="pageSize" ng-model="currentPage" max-size="paginationSize" class="pagination-sm" boundary-link-numbers="true" previous-text="<<" next-text=">>"></ul>
                        </div>-->
                        <div class="table-responsive">
                            <table class="table members-table">
                                <thead>
                                    <tr>
                                        <th ng-if="showCheckboxes"><input type="checkbox" ng-model="toggleListCheckboxes.checked" ng-change="toggleAllFromList(toggleListCheckboxes)"/></th>
                                        <th>Profil</th>
                                        <th ng-repeat="heading in headings" ng-click="sortMembersBy(heading)">
                                            {{heading.name}} <i class="fa fa-sort" aria-hidden="true"></i>
                                        </th>
                                        <th>Opcije</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!--<tr ng-repeat="member in members | filter : columnFilters |
                                        orderBy:propertyName:reverse | start: (currentPage-1) * pageSize | limitTo: pageSize">-->
                                    <tr ng-repeat="member in (filteredMembers = (members | filter : columnFilters)) |
                                        orderBy:propertyName:reverse | start: (currentPage-1) * pageSize | limitTo: pageSize">
                                        <td ng-if="showCheckboxes"><input type="checkbox" ng-model="member.checked" ng-change="updateSelected(member)"/></td>
                                        <td ng-if="member.gender === undefined"><img class="member-profile-picture" src="/img/mansilhouette.jpg" /></td>
                                        <td ng-if="member.gender === 'Musko'"><img class="member-profile-picture" src="/img/mansilhouette.jpg" /></td>
                                        <td ng-if="member.gender === 'Zensko'"><img class="member-profile-picture" src="/img/womansilhouette.jpg" /></td>
                                        <td>{{member.firstName}}</td>
                                        <td>{{member.lastName}}</td>
                                        <td>{{member.phoneNumber}}</td>
                                        <td>{{member.email}}</td>
                                        <td>{{member.city}}</td>
                                        <td>
                                            <a ng-href="#!/profile/{{member.userName}}"><i class="fa fa-user" aria-hidden="true"></i></a>
                                            <a ng-click="setEditMember(member.userName)" data-toggle="modal" data-target="#editMemberModal"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                            <a ng-click="setDeleteMember(member.userName)" data-toggle="modal" data-target="#deleteMemberModal"><i class="fa fa-ban" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--<div class="box-members-list-wrap">
                            <ul id="bottom-members-pagination" uib-pagination total-items="filteredMembers.length - 1" items-per-page="pageSize" ng-model="currentPage" max-size="paginationSize" class="pagination-sm" boundary-link-numbers="true" previous-text="<<" next-text=">>"></ul>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--NEW MEMBER MODAL-->
<div id="newMemberModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-width-adjust">
        <!-- Modal content-->
        <div class="modal-content modal-width-adjust">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title modal-title-padding">Dodaj novog člana</h4>
            </div>
            <!--<div class="modal-body">-->


                <div class="add-member-form">
                    <div class="tab-content">
                        <div id="postani-clan-1" class="tab-pane fade in active">
                            <div class="login-line"><p>Korisnički podaci</p></div>
                            <input type="text" placeholder="Korisničko Ime"  required ng-model="newMember.userName"/>
                            <input type="password" placeholder="Šifra" required ng-model="newMember.password"/>
                            <input type="password" placeholder="Potvrdi Šifru" ng-model="newMember.confirmPassword"/>
                            <input type="text" placeholder="Ime" ng-model="newMember.firstName"/>
                            <input type="text" placeholder="Prezime" ng-model="newMember.lastName"/>
                            <input type="text" placeholder="Email" ng-model="newMember.email"/>

                            <button class="rectangle-btn login-btn-halfway no-bg-btn" data-dismiss="modal">Izađi</button><button class="rectangle-btn login-btn-halfway modal-border" data-toggle="tab" href="#postani-clan-2" target="_self">Dalje</button>
                        </div>
                        <div id="postani-clan-2" class="tab-pane fade">
                            <div class="login-line"><p>Lični podaci</p></div>
                            <div class="login-line" style="overflow:hidden;">
                                <div class="row" style="padding-top: 10px;">
                                    <div class="col-md-3"><label style="line-height:20px;">Datum Rođenja: </label></div>
                                    <div class="col-md-3">
                                        <select type="text" class="form-control" ng-model="dateOfBirth.day">
                                            <option ng-repeat="day in dateOfBirth.days" ng-value="day">{{day}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <select type="text" class="form-control" ng-model="dateOfBirth.month">
                                            <option ng-repeat="month in dateOfBirth.months" ng-value="month">{{month}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <select type="text" class="form-control" ng-model="dateOfBirth.year">
                                            <option ng-repeat="year in dateOfBirth.years" ng-value="year">{{year}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <input type="text" placeholder="Grad" ng-model="newMember.city" />
                            <input type="text" placeholder="Adresa" ng-model="newMember.address" />
                            <div class="login-line" style="overflow: hidden;">
                                <div class="row">
                                    <div class="col-md-2"><label>Telefon:</label></div>
                                    <div class="col-md-4" style="margin-top: 15px;">
                                        <select class="form-control" ng-model="selectedCountry">
                                            <option ng-repeat="country in countries" ng-value="country">{{country.name}} {{country.number}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6"><input type="text" placeholder="Broj" ng-model="newMember.phoneNumber" /></div>
                                </div>
                            </div>
                            <fieldset id="genderRadio">
                                <ul class="login-line">
                                    <li><label>Spol: </label></li>
                                    <li><label class="radio-inline"><input type="radio" value="musko" ng-model="newMember.gender" name="genderRadio">Muško</label></li>
                                    <li><label class="radio-inline"><input type="radio" value="zensko" ng-model="newMember.gender" name="genderRadio">Žensko</label></li>
                                </ul>
                            </fieldset>
                            <fieldset id="employmentRadio">
                                <ul class="login-line">
                                    <li><label>Radni status: </label></li>
                                    <li><label class="radio-inline"><input type="radio" value="zaposlen" ng-model="newMember.employment" name="employmentRadio">Zaposlen/a</label></li>
                                    <li><label class="radio-inline"><input type="radio" value="nezaposlen" ng-model="newMember.employment" name="employmentRadio">Nezaposlen/a</label></li>
                                    <li><label class="radio-inline"><input type="radio" value="student" ng-model="newMember.employment" name="employmentRadio">Student</label></li>
                                </ul>
                            </fieldset>
                            <fieldset id="healthStatusRadio">
                                <ul class="login-line">
                                    <li><label>Nivo fizičke spreme: </label></li>
                                    <li><label class="radio-inline"><input type="radio" value="nizak" ng-model="newMember.healthStatus" name="healthStatusRadio">Nizak</label></li>
                                    <li><label class="radio-inline"><input type="radio" value="srednji" ng-model="newMember.healthStatus" name="healthStatusRadio">Srednji</label></li>
                                    <li><label class="radio-inline"><input type="radio" value="visok" ng-model="newMember.healthStatus" name="healthStatusRadio">Visok</label></li>
                                </ul>
                            </fieldset>
                            <button class="rectangle-btn login-btn-halfway no-bg-btn" data-toggle="tab" href="#postani-clan-1" target="_self">Nazad</button><button class="rectangle-btn login-btn-halfway modal-border"  data-toggle="tab" href="#postani-clan-3" target="_self">Dalje</button>
                        </div>
                        <div id="postani-clan-3" class="tab-pane fade">
                            <div class="login-line"><p>Odaberi svoje karakteristike (najmanje po jednu)</p></div>
                            <div class="text-center" ng-show="isloading()">
                                <img src="img/spin.gif" />
                            </div>
                            <div class="custom-accordion" id="accordion" ng-hide="isloading()">
                                <div class="panel panel-default" ng-repeat="category in interestCategories">
                                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" ng-href="{{'#collapse' + $index}}" href="" target="_self">
                                        <h4 class="panel-title">
                                            <span>
                                                {{category.categoryName}}
                                            </span>
                                        </h4>
                                    </div>
                                    <div id="{{'collapse' + $index}}" class="panel-collapse collapse" ng-class='{in:$first}'>
                                        <div class="panel-body">
                                            <ul class="login-list">
                                                <li class="login-list-checkbox-label" ng-repeat="subCategory in subCategories" ng-click="toggleSelection(subCategory)" ng-if="subCategory.categoryId===category.id">
                                                    <label>{{subCategory.name}}</label>
                                                    <input type="checkbox" ng-checked="selected.indexOf(subCategory) > -1" />
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="rectangle-btn login-btn-halfway no-bg-btn" data-toggle="tab" href="#postani-clan-2" target="_self">Nazad</button><button class="rectangle-btn login-btn-halfway" target="_self" ng-click="createMember()">Napravi Člana</button>
                        </div>
                    </div>
                </div>


                <!--</div>-->

        </div>

    </div>
</div>


<!--EDIT MEMBER MODAL-->
<div id="editMemberModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-width-adjust">
        <!-- Modal content-->
        <div class="modal-content modal-width-adjust">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title modal-title-padding">Izmijeni podatke člana: {{editingMember.userName}}</h4>
            </div>
            <form name="editMemberForm" novalidate>
                <div class="av-form-line"><p>Lični Podaci</p></div>
                <div class="av-form-group" focus-by-id="editMemberForm-firstName">
                    <label>Ime: </label>
                    <div class="av-form-error" ng-show="editMemberForm.$submitted || editMemberForm.firstName.$touched">
                        <span ng-show="editMemberForm.firstName.$error.required">Obavezno polje</span>
                    </div>
                    <input type="text" name="firstName" class="av-form" ng-model="editingMember.firstName" required="" id="editMemberForm-firstName">
                </div>
                <div class="av-form-group" focus-by-id="editMemberForm-lastName">
                    <label>Prezime: </label>
                    <div class="av-form-error" ng-show="editMemberForm.$submitted || editMemberForm.lastName.$touched">
                        <span ng-show="editMemberForm.lastName.$error.required">Obavezno polje</span>
                    </div>
                    <input type="text" name="lastName" class="av-form" ng-model="editingMember.lastName" required="" id="editMemberForm-lastName">
                </div>
                <div class="av-form-group" focus-by-id="editMemberForm-email">
                    <label>Email: </label>
                    <div class="av-form-error" ng-show="editMemberForm.$submitted || editMemberForm.email.$touched">
                        <span ng-show="editMemberForm.email.$error.required">Obavezno polje</span>
                        <span ng-show="editMemberForm.email.$error.email">Nepravilan email</span>
                    </div>
                    <input type="email" name="email" class="av-form" ng-model="editingMember.email" required="" id="editMemberForm-email">
                </div>
                <div class="av-form-group" focus-by-id="editMemberForm-phoneNumber">
                    <label>Telefon: </label>
                    <div class="av-form-error" ng-show="editMemberForm.$submitted || editMemberForm.phoneNumber.$touched">
                        <span ng-show="editMemberForm.phoneNumber.$error.required">Obavezno polje</span>
                        <span ng-show="editMemberForm.phoneNumber.$error.pattern">Mora početi sa +381,+385,+386 ili +387, ostatak minimalno 8 cifara</span>
                    </div>
                    <input type="text" name="phoneNumber" class="av-form" ng-model="editingMember.phoneNumber" required="" id="editMemberForm-phoneNumber" ng-pattern="phoneRegex">
                </div>
                <div class="av-form-group av-form-last" focus-by-id="editMemberForm-city">
                    <label>Grad: </label>
                    <div class="av-form-error" ng-show="editMemberForm.$submitted || editMemberForm.city.$touched">
                        <span ng-show="editMemberForm.city.$error.required">Obavezno polje</span>
                    </div>
                    <input type="text" name="city" class="av-form" ng-model="editingMember.city" required="" id="editMemberForm-city">
                </div>
                <button class="rectangle-btn login-btn-halfway no-bg-btn" data-dismiss="modal" ng-click="cancelEdit(editMemberForm)">Izađi</button><button type="submit" class="rectangle-btn login-btn-halfway modal-border" style="background: #3A7AD2;" ng-click="updateMember(editMemberForm)">Potvrdi izmjene</button>
            </form>
        </div>
    </div>
</div>


<!--DELETE MEMBER MODAL-->
<div id="deleteMemberModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-width-adjust">
        <!-- Modal content-->
        <div class="modal-content modal-width-adjust">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title modal-title-padding">Brisanje člana: {{deletingMember.userName}}</h4>
            </div>
            <div class="delete-member-form">
                <div class="login-line"><p id="del-question">Da li ste sigurni da želite obrisati člana?</p></div>
                <div class="login-line"><p>Ime: <strong>{{deletingMember.firstName}}</strong></p></div>
                <div class="login-line"><p>Prezime: <strong>{{deletingMember.lastName}}</strong></p></div>
                <div class="login-line"><p>Email: <strong>{{deletingMember.email}}</strong></p></div>
                <div class="login-line"><p>Telefon: <strong>{{deletingMember.phoneNumber}}</strong></p></div>
                <div class="login-line"><p>Grad: <strong>{{deletingMember.address}}</strong></p></div>
                <button class="rectangle-btn login-btn-halfway no-bg-btn" data-dismiss="modal" ng-click="cancelDelete()">Izađi</button><button class="rectangle-btn login-btn-halfway modal-border" style="background: #FF8235;" data-dismiss="modal" ng-click="deleteMember()">Izbriši Člana</button>
            </div>
        </div>
    </div>
</div>


<!--DELETE GROUP MODAL-->
<div id="deleteGroupModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Brisanje događaja</h4>
            </div>
            <div class="modal-body">
                <p>Jeste li sigurni da želite obrisati grupu?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteGroup()">Izbriši događaj</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelDeleteGroup()">Zatvori</button>
            </div>
        </div>

    </div>
</div>


<!--Email Modal-->
<div id="emailModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Slanje emaila</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label>Svi događaji:</label>
                            <select class="form-control" ng-model="eventEmail.id" ng-change="logme2()">
                                <option value="">---Bez filtera---</option>
                                <option ng-repeat="event in avevents" ng-value="event.id">{{event.eventName}} | {{event.startDate | date: 'dd-MMM-yyyy'}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <button class="btn btn-default pull-right" ng-click="applyEventDetails()" style="margin-top:25px">Ubaci sadržaj događaja</button>
                        </div>
                    </div>
                </div>
                
                
                <div class="row">
                    <div class="col-md-12"><div class="form-group"><label>Naslov emaila:</label><input class="form-control" type="text" ng-model="emailSubject" /></div></div>
                </div>

                <text-angular ng-model="emailContent"></text-angular>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="sendEmail()">Pošalji</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Odustani</button>
            </div>
        </div>

    </div>
</div>

<!--New Group Modal-->
<div id="newGroupModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Nova grupa</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Ime grupe:</label>
                    <input class="form-control" type="text" ng-model="newGroup.groupName" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="createGroup()">Napravi grupu</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
            </div>
        </div>

    </div>
</div>

<!--Update Groups Modal-->
<div id="updateGroupsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Ažuriranje grupa</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-12" ng-repeat="group in allGroups">
                        <div class="row">
                            <div class="col-md-11"><input class="form-control" type="text" ng-model="group.groupName" /></div>
                            <div class="col-md-1"><a href="" ng-click="deleteGroup(group.id)" style="margin-top:8px; display:block;"><i class="fa fa-times" aria-hidden="true"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="changeGroupNames()">Izmijeni imena</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
            </div>
        </div>

    </div>
</div>

<!--GROUP MEMBERS MODAL-->
<div id="groupMembersModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Članovi grupe</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table members-table">
                        <thead>
                            <tr>
                                <th>Ime</th>
                                <th>Prezime</th>
                                <th>Opcije</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in selectedUsers | orderBy:'firstName'">
                                <td>{{user.firstName}}</td>
                                <td>{{user.lastName}}</td>
                                <td>
                                    <a ng-click="removeFromSelectedUsers(user)"><i class="fa fa-ban" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
            </div>
        </div>

    </div>
</div>
