<div class="event-background">
    <div class="container event-relative">
        <div class="event-info-wrapper">
            <div class="single-event-title">EVENT NAME</div>
            <div class="event-info">
                <div class="row">
                    <div class="col-md-6">
                        <ul>
                            <li class="form-group">
                                <h4><i class="fa fa-map-marker" aria-hidden="true"></i> Lokacija:</h4>
                                <p>{{event.location}}</p>
                            </li>
                            <li class="form-group">
                                <h4><i class="fa fa-tag" aria-hidden="true"></i> Kategorija:</h4>
                                <p>{{event.eventCategoryName}}</p>
                            </li>
                        </ul>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h4><i class="fa fa-calendar-o" aria-hidden="true"></i> Datum polaska: </h4>
                                    <p>{{event.startDate| date: 'dd MMMM yyyy'}}</p>
                                </div>
                                <div class="col-sm-6">
                                    <h4><i class="fa fa-calendar-o" aria-hidden="true"></i> Datum dolaska: </h4>
                                    <p>{{event.endDate| date: 'dd MMMM yyyy'}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h4><i class="fa fa-dollar" aria-hidden="true"></i> Cijena za članove: </h4>
                                    <p>{{event.membersPrice}} {{event.eventCurrency}}</p>
                                </div>
                                <div class="col-sm-6">
                                    <h4><i class="fa fa-dollar" aria-hidden="true"></i> Cijena za goste: </h4>
                                    <p>{{event.nonMembersPrice}} {{event.eventCurrency}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-if="event.applyCriteria">
                            <h4><i class="fa fa-exclamation" aria-hidden="true"></i> Kriterij za prijavu:</h4>
                            <p>{{event.applyCriteria}}</p>
                        </div>
                        <ul class="single-event-options">
                            <li><button class="btn btn-success" data-toggle="modal" data-target="#eventSignUpModal">Prijava na događaj</button></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <h4><i class="fa fa-info-circle" aria-hidden="true"></i> Opis:</h4>
                            <p>
                                {{event.description}}
                            </p>
                        </div>
                        <div class="embed-responsive embed-responsive-16by9" ng-if="event.trustedVideoLink">
                            <iframe class="embed-responsive-item" ng-src="{{event.trustedVideoLink}}"></iframe>
                        </div>
                        <div ng-if="event.eventLinks.length > 0">
                            <h4><i class="fa fa-external-link" aria-hidden="true"></i> Popratni Linkovi:</h4>
                            <div class="row">
                                <div class="new-event-links" ng-repeat="link in event.eventLinks" ng-mouseenter="linkHovered=$index" ng-mouseleave="linkHovered=undefined">
                                    <div class="form-group col-md-6">
                                        <label>Stranica: </label>
                                        <p>{{link.name}}</p>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Link: </label>
                                        <p>{{link.link}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <h3>Galerija</h3>
                <div class="row">
                    <div class="col-md-4 col-sm-6" ng-repeat="item in eventPhotos" data-toggle="modal" data-target="#eventGalleryModal" ng-click="goToSlide($index)">
                        <div class="item-in-gallery material-shadow">
                            <div class="item-in-gallery-bg" ng-style="{'background-image': 'url(' + item.path + ')'}"></div>
                        </div>
                    </div>
                    <div class="col-md-12"><button class="btn btn-primary pull-right" data-toggle="modal" data-target="#singleEventUploadModal" >Upload slika</button></div>
                </div>

                <h3>Komentari</h3>
                <div class="form-group"><textarea class="form-control new-comment" placeholder="Napiši komentar..." ng-click="newCommentActive=true" ng-model="newComment.comment"></textarea></div>
                <ul class="comment-options" ng-show="newCommentActive===true">
                    <li><button class="btn btn-default" ng-click="newCommentActive=false">Zatvori</button></li>
                    <li><button class="btn btn-success" ng-click="postComment()">Potvrdi</button></li>
                </ul>

                <div class="media profile-comment-wrap" ng-repeat="comment in comments">
                    <div class="media-left" style="padding-right:25px;">
                        <img ng-src="{{comment.profilePicturePath}}" class="media-object" style="width:60px; max-height:60px;">
                    </div>
                    <div class="media-body">
                        <div class="profile-comment-options" ng-if="userRole === 'Admin' || currentUser.userName.toUpperCase() === comment.userName.toUpperCase()">
                            <a href="" ng-click="setEditComment(comment)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                            <a href="" data-toggle="modal" data-target="#deletingCommentModal" ng-click="setDeleteComment(comment)"><i class="fa fa-times" aria-hidden="true"></i></a>
                        </div>
                        <h5 class="media-heading">{{comment.firstName + " "+ comment.lastName}}</h5>
                        <div class="profile-comment-datetime">{{comment.commentDate | date:'dd MMMM yyyy, H:mm'}}</div>
                        <div ng-hide="editCommentActive && comment.id ===editingComment.id" class="profile-comment-content">{{comment.comment}}</div>
                        <div ng-show="editCommentActive && comment.id ===editingComment.id">
                            <textarea class="form-control profile-comment-edit" ng-model="editingComment.comment"></textarea>
                            <button class="btn btn-default" ng-click="cancelEditComment()">Zatvori</button>
                            <button class="btn btn-primary" ng-click="updateUserComment()">Izmijeni</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="eventGalleryModal" class="modal fade" role="dialog">
    <div class="modal-dialog" id="event-gallery-modal-body">
        <img class="exit-event-gallery" src="/img/exit.png" data-dismiss="modal">
        <div class="container">
            <div class="event-gallery-item" ng-repeat="item in eventPhotos" ng-show="$index==currentSlide">
                <img class="event-gallery-item-bg" ng-src="{{item.path}}">
                <div class="row">
                    <div class="col-md-12 text-center"><div style="padding: 15px 0 15px 15px"><strong>{{currentSlide + 1}}</strong> / {{eventPhotos.length}}</div></div>
                </div>
            </div>
        </div>

        <button class="transparent-round-btn" id="slide-left" ng-click="previousSlide()"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
        <button class="transparent-round-btn" id="slide-right" ng-click="nextSlide()"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
    </div>
</div>

<!--SINGLE EVENT UPLOAD MODAL-->
<div id="singleEventUploadModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Upload</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <form>
                        <input type="file" accept="image/*" multiple ng-model="photos.images" base-sixty-four-input>
                        <p ng-repeat="image in photos.images">{{image.filename}}</p>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="uploadPhotos()">Potvrdi</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
            </div>
        </div>

    </div>
</div>


<!--Deleting COMMENT MODAL-->
<div id="deletingCommentModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Brisanje komentara</h4>
            </div>
            <div class="modal-body">
                <p>Da li ste sigurni da želite obrisati komentar?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteUserComment()">Potvrdi</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelDeleteComment()">Zatvori</button>
            </div>
        </div>

    </div>
</div>

<!--EVENT SIGN UP MODAL-->
<div id="eventSignUpModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Prijava na događaj</h4>
            </div>
            <div class="modal-body">
                <p>Molimo potvrdite vašu prijavu.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="eventSignUp()">Potvrdi</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelSignupChanges()">Odustani</button>
            </div>
        </div>

    </div>
</div>

<!--EVENT Cancel SIGN UP MODAL-->
<div id="eventCancelSignUpModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Odjava sa događaja</h4>
            </div>
            <div class="modal-body">
                <p>Molimo potvrdite odjavu sa događaja</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" >Potvrdi</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" >Odustani</button>
            </div>
        </div>

    </div>
</div>