<div class="gray-wrapper">
    <div class="container">
        <div class="box-members">
            <div class="text-center" ng-show="membersLoading">
                <img src="img/spin.gif" />
            </div>
            <div class="row" ng-hide="membersLoading">
                <div class="col-md-12">
                    <div class="box-members-list">
                        <p class="members-table-title text-left">Finansije događaja:</p>
                        <!--<a class="material-round-btn" id="add-member-btn" data-toggle="modal" data-target="#newMemberModal"><i class="fa fa-user-plus" aria-hidden="true"></i></a>-->
                        <!--<div class="box-members-list-wrap">
                            <ul id="top-members-pagination" uib-pagination total-items="filteredMembers.length - 1" items-per-page="pageSize" ng-model="currentPage" max-size="paginationSize" class="pagination-sm" boundary-link-numbers="true" previous-text="<<" next-text=">>"></ul>
                        </div>-->
                        <div class="table-responsive">
                            <table class="table members-table">
                                <thead>
                                    <tr>
                                        <th ng-repeat="heading in headings" ng-click="sortMembersBy(heading)">
                                            {{heading.name}} <i class="fa fa-sort" aria-hidden="true"></i>
                                        </th>
                                        <th>Opcije</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!--<tr ng-repeat="member in members | filter : columnFilters |
                                        orderBy:propertyName:reverse | start: (currentPage-1) * pageSize | limitTo: pageSize">-->
                                    <tr ng-repeat="member in (filteredMembers = (members | filter : columnFilters)) |
                                        orderBy:propertyName:reverse | start: (currentPage-1) * pageSize | limitTo: pageSize">
                                        <td>{{member.firstName}}</td>
                                        <td>{{member.lastName}}</td>
                                        <td>{{member.phoneNumber}}</td>
                                        <td>{{member.email}}</td>
                                        <td>{{member.joinStatus}}</td>
                                        <td>{{member.eventPrice}}</td>
                                        <td>{{member.payment}}</td>
                                        <td>{{member.due}}</td>
                                        <td>
                                            <a ng-href="#!/profile/{{member.userName}}"><i class="fa fa-user" aria-hidden="true"></i></a>
                                            <a ng-click="setEditMember(member.userName)" data-toggle="modal" data-target="#editMemberFinanceModal"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                            <a ng-click="setDeleteMember(member.userName)" data-toggle="modal" data-target="#deleteMemberModal"><i class="fa fa-ban" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--<div class="box-members-list-wrap">
                            <ul id="bottom-members-pagination" uib-pagination total-items="filteredMembers.length - 1" items-per-page="pageSize" ng-model="currentPage" max-size="paginationSize" class="pagination-sm" boundary-link-numbers="true" previous-text="<<" next-text=">>"></ul>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--NEW EVENT MODAL-->
<div id="editMemberFinanceModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Finansije događaja</h4>
            </div>
            <div class="modal-body">
                <!--<div style="margin: 15px;">-->
                <form id="new-event-form">
                    <div class="container-fluid">
                        <ul class="row">
                            <li class="col-md-12 form-group">
                                <p>IME i PREZIME</p>
                            </li>
                            <li class="col-md-12 form-group">
                                <p>Broj telefona Email adresa</p>
                            </li>
                            <li class="col-md-12 form-group">
                                <label>Status Prijave:</label>
                                <select class="form-control" ng-model="newEvent.eventCategoryId">
                                    <option value="" disabled>---Odaberite---</option>
                                    <option value="nacekanju">Na cekanju</option>
                                    <option value="prihvaceno">Prihvaceno</option>
                                    <option value="odbijeno">Odbijeno</option>
                                    <option value="otkazano">Otkazano</option>
                                </select>
                            </li>
                            <li class="col-md-12 form-group">
                                <label>Dogovorena cijena: </label>
                                <input type='number' class="form-control" />
                            </li>
                            <li class="col-md-12 form-group">
                                <label>Zabilješka: </label>
                                <textarea class="form-control" ></textarea>
                            </li>
                            <li class="col-md-6 form-group">
                                <label>Isplaćeno: </label>
                                <input type='number' class="form-control" />
                            </li>
                            <li class="col-md-6 form-group">
                                <label>Dug: </label>
                                <input type='number' class="form-control" />
                            </li>
                            <li class="col-md-12 form-group">
                                <label>Nova uplata: </label>
                                <input type='number' class="form-control" />
                            </li>
                        </ul>
                    </div>
                </form>
                <!--</div>-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="createEvent()">Spasi</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
            </div>
        </div>

    </div>
</div>
