<div class="gray-wrapper">
    <div class="container">
        <div class="box-members">
            <div class="text-center" ng-show="membersLoading">
                <img src="img/spin.gif" />
            </div>
            <div class="row" ng-hide="membersLoading">
                <div class="col-md-12">
                    <div class="box-members-list">
                        <p class="members-table-title text-left">Finansije događaja:</p>
                        <!--<a class="material-round-btn" id="add-member-btn" data-toggle="modal" data-target="#newMemberModal"><i class="fa fa-user-plus" aria-hidden="true"></i></a>-->
                        <!--<div class="box-members-list-wrap">
                            <ul id="top-members-pagination" uib-pagination total-items="filteredMembers.length - 1" items-per-page="pageSize" ng-model="currentPage" max-size="paginationSize" class="pagination-sm" boundary-link-numbers="true" previous-text="<<" next-text=">>"></ul>
                        </div>-->
                        <div class="table-responsive">
                            <table class="table members-table">
                                <thead>
                                    <tr>
                                        <th ng-repeat="heading in headings" ng-click="sortApplicationsBy(heading)">
                                            {{heading.name}} <i class="fa fa-sort" aria-hidden="true"></i>
                                        </th>
                                        <th>Opcije</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="application in eventApplications | orderBy:propertyName:reverse">
                                        <td>{{application.firstName}}</td>
                                        <td>{{application.lastName}}</td>
                                        <td>{{application.phoneNumber}}</td>
                                        <td>{{application.email}}</td>
                                        <td>{{application.eventPrice}}</td>
                                        <td>{{application.totalAmountPayed}}</td>
                                        <td>{{application.totalAmountOwe}}</td>
                                        <td>
                                            <a ng-href="#!/profile/{{application.userId}}"><i class="fa fa-user" aria-hidden="true"></i></a>
                                            <a ng-click="setPayment(application)" data-toggle="modal" data-target="#addPaymentModal"><i class="fa fa-edit" aria-hidden="true"></i></a>                                        
                                            <a ng-click="listPayments(application)" data-toggle="modal" data-target="#listPaymentsModal"><i class="fa fa-list" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--<div class="box-members-list-wrap">
                            <ul id="bottom-members-pagination" uib-pagination total-items="filteredMembers.length - 1" items-per-page="pageSize" ng-model="currentPage" max-size="paginationSize" class="pagination-sm" boundary-link-numbers="true" previous-text="<<" next-text=">>"></ul>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--ADD PAYMENT MODAL-->
<div id="addPaymentModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Nova Uplata</h4>
            </div>
            <div class="modal-body">
                <!--<div style="margin: 15px;">-->
                <form id="new-event-form">
                    <div class="container-fluid">
                        <ul class="row">
                            <li class="col-md-12 form-group">
                                <p><strong>Ime i Prezime:</strong> {{currentApplication.firstName +" "+ currentApplication.lastName}}</p>
                            </li>
                            <li class="col-md-12 form-group">
                                <p><strong>Kontakt telefon:</strong> {{currentApplication.phoneNumber}}</p>
                                <p><strong>Email:</strong> {{currentApplication.email}}</p>
                            </li>
                            <!--<li class="col-md-12 form-group">
                                <label>Status Prijave:</label>
                                <select class="form-control" ng-model="currentApplication.">
                                    <option value="" disabled>---Odaberite---</option>
                                    <option value="nacekanju">Na cekanju</option>
                                    <option value="prihvaceno">Prihvaceno</option>
                                    <option value="odbijeno">Odbijeno</option>
                                    <option value="otkazano">Otkazano</option>
                                </select>
                            </li>-->
                            <li class="col-md-4 form-group">
                                <label>Dogovorena cijena: </label>
                                <input type='number' class="form-control" ng-model="currentApplication.eventPrice" disabled/>
                            </li>
                            <li class="col-md-4 form-group">
                                <label>Isplaćeno: </label>
                                <input type='number' class="form-control" ng-model="currentApplication.totalAmountPayed" disabled/>
                            </li>
                            <li class="col-md-4 form-group">
                                <label>Dug: </label>
                                <input type='number' class="form-control" ng-model="currentApplication.totalAmountOwe" disabled/>
                            </li>
                            <li class="col-md-12 form-group">
                                <label>Iznos uplate: </label>
                                <input type='number' class="form-control" ng-model="newPayment.amountPayed"/>
                            </li>
                            <!--<li class="col-md-12 form-group">
                                <label>Bilješka: </label>
                                <textarea class="form-control" ng-model="newPayment.note" style="max-width:100%;"></textarea>
                            </li>-->
                        </ul>
                    </div>
                </form>
                <!--</div>-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="addPayment()">Spasi</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="initNewPayment()">Zatvori</button>
            </div>
        </div>

    </div>
</div>


<!--LIST PAYMENTS MODAL-->
<div id="listPaymentsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Lista uplata za {{currentApplication.firstName +" "+ currentApplication.lastName}}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 form-group">
                        <p><strong>Cijena: </strong> {{currentApplication.eventPrice}} | <strong>Isplaćeno: </strong> {{currentApplication.totalAmountPayed}} | <strong>Dug: </strong>{{currentApplication.totalAmountOwe}}</p>
                        <p><strong>Kontakt telefon: </strong> {{currentApplication.phoneNumber}}</p>
                        <p><strong>Email: </strong> {{currentApplication.email}}</p>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table profile-stats-table">
                        <thead>
                            <tr>
                                <th>Datum</th>
                                <th>Uplata</th>
                                <!--<th>Bilješka</th>-->
                                <th class="text-right">Opcije</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="profile-events-wrap" ng-repeat="payment in paymentsByUser">
                                <td>{{payment.datePayed | date:'dd MMMM yy'}}</td>
                                <td>{{payment.amountPayed}}</td>
                                <!--<td>{{payment.note}}</td>-->
                                <td class="text-right">
                                    <a href="" ng-click="deletePayment(payment.id)"><i class="fa fa-times" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
            </div>
        </div>

    </div>
</div>
