<div class="event-background" ng-style="{'background-image': 'url(/img/whitestonebg.png)'}">
    <div class="container event-relative">
        <div class="event-info-wrapper">
            <div class="event-info">
                <div class="event-image-bg" ng-style="{'background-image': 'url(' + event.imagePath + ')'}"></div>
                <div class="event-info-padding">
                    <div class='row'>
                        <div class="col-md-12"><div class="single-event-title">{{event.name}}</div></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="margin-bottom:25px;"><a ng-href="#!/events" class="btn btn-default pull-right"><i class="fa fa-arrow-left" aria-hidden="true"></i> Povratak na događaje</a></div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <p><i class="fa fa-info-circle" aria-hidden="true"></i> Opis:</p>
                                        <p>
                                            {{event.description}}
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <ul style="margin-bottom:0;">
                                                <li class="col-xs-6">
                                                    <p><i class="fa fa-map-marker" aria-hidden="true"></i> Lokacija:</p>
                                                    <p><b>{{event.location}}</b></p>
                                                </li>
                                                <li class="col-xs-6">
                                                    <p><i class="fa fa-tag" aria-hidden="true"></i> Kategorija:</p>
                                                    <p><b>{{event.eventCategoryName}}</b></p>
                                                </li>
                                            </ul>
                                            <div class="col-xs-6">
                                                <p><i class="fa fa-calendar-o" aria-hidden="true"></i> Datum polaska: </p>
                                                <p><b>{{event.startDate| date: 'dd MMMM yyyy'}}</b></p>
                                            </div>
                                            <div class="col-xs-6">
                                                <p><i class="fa fa-calendar-o" aria-hidden="true"></i> Datum dolaska: </p>
                                                <p><b>{{event.endDate| date: 'dd MMMM yyyy'}}</b></p>
                                            </div>

                                            <div class="col-xs-6">
                                                <p><i class="fa fa-dollar" aria-hidden="true"></i> Cijena za članove: </p>
                                                <p><b>{{event.membersPrice}} {{event.eventCurrency}}</b></p>
                                            </div>
                                            <div class="col-xs-6">
                                                <p><i class="fa fa-dollar" aria-hidden="true"></i> Cijena za goste: </p>
                                                <p><b>{{event.nonMembersPrice}} {{event.eventCurrency}}</b></p>
                                            </div>
                                            <div class="col-xs-6" ng-if="event.applyCriteria">
                                                <p><i class="fa fa-exclamation" aria-hidden="true"></i> Kriterij za prijavu:</p>
                                                <p><b>{{event.applyCriteria}}</b></p>
                                            </div>
                                            <div class="col-xs-12">
                                                <ul class="single-event-options">
                                                    <li ng-if="currentUser.userName"><button class="btn btn-success" data-toggle="modal" data-target="#eventSignUpModal">Prijava na događaj</button></li>
                                                    <li ng-if="!currentUser.userName"><p style="color:red;">Samo prijavljeni mogu aplicirati za događaj</p></li>
                                                    <li ng-if="!currentUser.userName"><a ng-href="#!/login/prijava" class="btn btn-default">Idi na prijavu</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="embed-responsive embed-responsive-16by9" ng-if="event.trustedVideoLink">
                                <iframe class="embed-responsive-item" ng-src="{{event.trustedVideoLink}}"></iframe>
                            </div>
                            <div ng-if="event.eventLinks.length > 0">
                                <h4><i class="fa fa-external-link" aria-hidden="true"></i> Popratni Linkovi:</h4>
                                <div class="row">
                                    <div class="new-event-links" ng-repeat="link in event.eventLinks" ng-mouseenter="linkHovered=$index" ng-mouseleave="linkHovered=undefined">
                                        <div class="form-group col-md-6">
                                            <label>Stranica: </label>
                                            <p>{{link.name}}</p>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Link: </label>
                                            <p>{{link.link}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h3>Galerija</h3>
                    <div class="row">
                        <div class="col-md-4 col-sm-6" ng-repeat="item in eventPhotos" >
                            <div class="item-in-gallery material-shadow">
                                <i class="fa fa-times-circle-o" aria-hidden="true" 
                                   style="position: absolute; top: 5px; right: 5px; color:white; font-size: 16px; z-index:100;" 
                                   data-toggle="modal" data-target="#deletePhotoModal" 
                                   ng-click="setDeletePhoto(item.id)"
                                   ng-if="userRole === 'Admin'">
                                </i>
                                <div class="item-in-gallery-bg" ng-style="{'background-image': 'url(' + item.path + ')'}" data-toggle="modal" data-target="#eventGalleryModal" ng-click="goToSlide($index)"></div>
                            </div>
                        </div>
                        <div ng-if="currentUser.userName" class="col-md-12"><button class="btn btn-primary pull-right" data-toggle="modal" data-target="#singleEventUploadModal">Upload slika</button></div>
                    </div>

                    <div ng-if="currentUser.userName" style="margin-bottom:50px;">
                        <h3>Komentari</h3>
                        <form name="postCommentForm" novalidate>
                            <div ng-show="postCommentForm.$submitted">
                                <div class="alert alert-danger" role="alert" ng-show="postCommentForm.comment.$error.required">Komentar nema teksta</div>
                            </div>
                            <div class="form-group"><textarea class="form-control new-comment" name="comment"placeholder="Napiši komentar..." ng-click="startNewComment()" ng-model="newComment.comment" rows="3" required></textarea></div>
                            <ul class="comment-options" ng-show="newCommentActive===true">
                                <li><button type="button" class="btn btn-default" ng-click="cancelNewComment(postCommentForm)">Zatvori</button></li>
                                <li><button type="submit" class="btn btn-success" ng-click="postComment(postCommentForm)">Potvrdi</button></li>
                            </ul>
                        </form>
                    </div>
                    <div ng-if="!currentUser.userName">
                        <h3>Komentari</h3>
                        <h4>Prijavite se da biste ostavili komentar</h4>
                    </div>

                    <div class="media profile-comment-wrap" ng-repeat="comment in comments">
                        <div class="media-left" style="padding-right:25px;">
                            <img ng-src="{{comment.profilePicturePath}}" class="media-object" style="width:60px; max-height:60px; object-fit:cover; border-radius:50%;">
                        </div>
                        <div class="media-body">
                            <div class="profile-comment-options" ng-if="userRole === 'Admin' || currentUser.userName.toUpperCase() === comment.userName.toUpperCase()">
                                <a href="" ng-click="setEditComment(comment)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                <a href="" data-toggle="modal" data-target="#deletingCommentModal" ng-click="setDeleteComment(comment)"><i class="fa fa-times" aria-hidden="true"></i></a>
                            </div>
                            <h5 class="media-heading">{{comment.firstName + " "+ comment.lastName}}</h5>
                            <div class="profile-comment-datetime">{{comment.commentDate | date:'dd MMMM yyyy, H:mm'}}</div>
                            <div ng-hide="editCommentActive && comment.id ===editingComment.id" class="profile-comment-content">{{comment.comment}}</div>
                            <div ng-show="editCommentActive && comment.id ===editingComment.id">
                                <form name="editCommentForm" novalidate>
                                    <div ng-show="editCommentForm.$submitted">
                                        <div class="alert alert-danger" role="alert" ng-show="editCommentForm.comment.$error.required">Komentar nema teksta</div>
                                    </div>
                                    <textarea class="form-control profile-comment-edit" name="comment" placeholder="Napiši komentar..."  ng-model="editingComment.comment" required></textarea>
                                    <div class="pull-right">
                                        <button class="btn btn-default" ng-click="cancelEditComment(editCommentForm)">Zatvori</button>
                                        <button class="btn btn-primary" ng-click="updateUserComment(editCommentForm)">Izmijeni</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="eventGalleryModal" class="modal fade" role="dialog">
    <div class="modal-dialog" id="event-gallery-modal-body">
        <img class="exit-event-gallery" src="/img/exit.png" data-dismiss="modal">
        <div class="container">
            <div class="event-gallery-item" ng-repeat="item in eventPhotos" ng-show="$index==currentSlide">
                <img class="event-gallery-item-bg" ng-src="{{item.path}}">
                <div class="row">
                    <div class="col-md-12 text-center"><div style="padding: 15px 0 15px 15px"><strong>{{currentSlide + 1}}</strong> / {{eventPhotos.length}}</div></div>
                </div>
            </div>
        </div>

        <button class="transparent-round-btn" id="slide-left" ng-click="previousSlide()"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
        <button class="transparent-round-btn" id="slide-right" ng-click="nextSlide()"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
    </div>
</div>

<!--SINGLE EVENT UPLOAD MODAL-->
<div id="singleEventUploadModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Upload</h4>
            </div>
            <form name="eventAlbumUploadForm" novalidate>
                <div class="modal-body">
                    <div class="form-group">
                        <div ng-show="eventAlbumUploadForm.$submitted || eventAlbumUploadForm.images.$touched">
                            <div class="alert alert-danger" role="alert" ng-show="eventAlbumUploadForm.images.$error.required">Bonitet mora imati sliku</div>
                            <div class="alert alert-danger" role="alert" ng-show="eventAlbumUploadForm.images.$error.maxsize">Maksimalna veličina slike je 2 MB</div>
                        </div>
                        <input type="file" name="images" accept="image/*" multiple ng-model="photos.images" maxsize="2000" base-sixty-four-input required>
                        <p ng-repeat="image in photos.images">{{image.filename}}</p>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="uploadPhotos(eventAlbumUploadForm)">Potvrdi</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="resetForm(eventAlbumUploadForm)">Zatvori</button>
                </div>
            </form>
        </div>

    </div>
</div>


<!--Deleting COMMENT MODAL-->
<div id="deletingCommentModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Brisanje komentara</h4>
            </div>
            <div class="modal-body">
                <p>Da li ste sigurni da želite obrisati komentar?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteUserComment()">Potvrdi</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelDeleteComment()">Zatvori</button>
            </div>
        </div>

    </div>
</div>

<!--Deleting PHOTO MODAL-->
<div id="deletePhotoModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Brisanje slike</h4>
            </div>
            <div class="modal-body">
                <p>Da li ste sigurni da želite obrisati sliku?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deletePhoto()">Potvrdi</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelDeletePhoto()">Zatvori</button>
            </div>
        </div>

    </div>
</div>


<!--EVENT SIGN UP MODAL-->
<div id="eventSignUpModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Prijava na događaj</h4>
            </div>
            <div class="modal-body">
                <p>Molimo potvrdite vašu prijavu.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="eventSignUp()">Potvrdi</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelSignupChanges()">Odustani</button>
            </div>
        </div>

    </div>
</div>

<!--EVENT Cancel SIGN UP MODAL-->
<div id="eventCancelSignUpModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Odjava sa događaja</h4>
            </div>
            <div class="modal-body">
                <p>Molimo potvrdite odjavu sa događaja</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" >Potvrdi</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" >Odustani</button>
            </div>
        </div>

    </div>
</div>
