<div class="event-background">
    <div class="container event-relative">
        <div class="event-info-wrapper">
            <div class="single-event-title">EVENT NAME</div>
            <div class="event-info">
                <div class="row">
                    <div class="col-md-6">
                        <ul>
                            <li class="form-group">
                                <h4><i class="fa fa-map-marker" aria-hidden="true"></i> Lokacija:</h4>
                                <p>{{event.location}}Lorem Ipsum</p>
                            </li>
                            <li class="form-group">
                                <h4><i class="fa fa-tag" aria-hidden="true"></i> Kategorija:</h4>
                                <p>Lorem Ipsum</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h4><i class="fa fa-calendar-o" aria-hidden="true"></i> Datum polaska: </h4>
                                    <p>{{event.startDate}}1.10.32</p>
                                </div>
                                <div class="col-sm-6">
                                    <h4><i class="fa fa-calendar-o" aria-hidden="true"></i> Datum dolaska: </h4>
                                    <p>1.10.33{{event.endDate}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <h4><i class="fa fa-exclamation" aria-hidden="true"></i> Kriterij za prijavu:</h4>
                            <p>{{event.criteria}}Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
                        </div>
                        <ul class="single-event-options">
                            <li><button class="rectangle-btn">Finansije</button></li>
                            <li><button class="rectangle-btn">Prijava</button></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <h4><i class="fa fa-info-circle" aria-hidden="true"></i> Opis:</h4>
                            <p>
                                {{event.description}}
                                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                            </p>
                        </div>
                        <div class="event-video text-left">
                            <iframe width="560" height="315" ng-src="{{event.videoLink}}" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <div>
                            <h4><i class="fa fa-external-link" aria-hidden="true"></i> Popratni Linkovi:</h4>
                            <div class="row">
                                <div class="new-event-links" ng-repeat="link in event.eventLinks" ng-mouseenter="linkHovered=$index" ng-mouseleave="linkHovered=undefined">
                                    <div class="form-group col-md-6">
                                        <label>Stranica: </label>
                                        <p>{{link.name}}</p>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Link: </label>
                                        <p>{{link.link}}</p>
                                    </div>
                                </div>
                                <!--<div class="new-event-links">
                                    <div class="form-group col-md-6">
                                        <label>Stranica: </label>
                                        <p>{{link.page}}Lorem Ipsum</p>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Link: </label>
                                        <p>{{link.url}}http://www.LoremIpsum.com</p>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Stranica: </label>
                                        <p>{{link.page}}Lorem Ipsum</p>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Link: </label>
                                        <p>{{link.url}}http://www.LoremIpsum.com</p>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>

                <h3>Galerija</h3>
                <div class="row">
                    <div class="col-md-4 col-sm-6" ng-repeat="item in gallery" data-toggle="modal" data-target="#eventGalleryModal" ng-click="goToSlide($index)">
                        <div class="item-in-gallery material-shadow">
                            <div class="item-in-gallery-bg" ng-style="{'background-image': 'url(' + item.eventImg + ')'}"></div>
                        </div>
                    </div>
                    <div class="col-md-12"><button class="rectangle-btn rectangle-btn-outline-dark pull-right" data-toggle="modal" data-target="#singleEventUploadModal" >Upload slika</button></div>
                </div>

                <h3>Komentari</h3>
                <div class="form-group"><textarea class="form-control new-comment" placeholder="Napiši komentar..." ng-click="newCommentActive=true"></textarea></div>
                <ul class="comment-options" ng-show="newCommentActive===true">
                    <li><button class="rectangle-btn rectangle-btn-outline-dark" ng-click="newCommentActive=false">Zatvori</button></li>
                    <li><button class="rectangle-btn">Potvrdi</button></li>
                </ul>

                <div class="media">
                    <div class="media-left">
                        <img src="/img/womansilhouette.jpg" class="media-object" style="width:60px">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">John Doe</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <img src="/img/mansilhouette.jpg" class="media-object" style="width:60px">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">John Doe</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <img src="/img/profilemock.png" class="media-object" style="width:60px">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">John Doe</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="eventGalleryModal" class="modal fade" role="dialog">
    <div class="modal-dialog" id="event-gallery-modal-body">
        <img class="exit-event-gallery" src="/img/exit.png" data-dismiss="modal">
        <div class="container">
            <div class="event-gallery-item" ng-repeat="item in gallery" ng-show="$index==currentSlide">
                <img class="event-gallery-item-bg" ng-src="{{item.eventImg}}">
                <div class="row">
                    <div class="col-md-1"><div style="padding: 15px 0 15px 15px"><strong>{{currentSlide + 1}}</strong> / {{gallery.length}}</div></div>
                    <div class="col-md-8">
                        <div class="event-gallery-item-details">
                            <div class="row">
                                <div class="col-md-3">
                                    <strong>Datum:</strong> {{item.date}}
                                </div>
                                <div class="col-md-6">
                                    <strong>Mjesto:</strong> {{item.location}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3"><button class="rectangle-btn pull-right" id="event-gallery-btn">Pređi na Događaj</button></div>
                </div>
            </div>
        </div>

        <button class="transparent-round-btn" id="slide-left" ng-click="previousSlide()"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
        <button class="transparent-round-btn" id="slide-right" ng-click="nextSlide()"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
    </div>
</div>

<!--SINGLE EVENT UPLOAD MODAL-->
<div id="singleEventUploadModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Upload</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <form>
                        <input type="file" accept="image/*" multiple ng-model="uploadedPictures" base-sixty-four-input>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="listUploaded()">Potvrdi</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
            </div>
        </div>

    </div>
</div>