<div class="welcome-screen">
    <div class="slide slide-animate" ng-repeat="slide in slides" ng-show="$index==currentSlide">
        <div class="slide-background">
            <div class="slide-overlay"></div>
            <img class="slide-image" ng-src="{{slide.image}}" />
        </div>
        <div class="slide-content">
            <div class="slide-title">{{slide.title}}</div>
            <div class="slide-description">{{slide.description}}</div>
            <button class="rectangle-btn" id="register-btn">Pregled</button>
        </div>
    </div>
    <!--<button class="transparent-round-btn" id="slide-right" ng-click="nextSlide()"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
    <button class="transparent-round-btn" id="slide-left" ng-click="previousSlide()"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>-->
    <div class="slide-labels">
        <div class="slide-label" ng-repeat="label in slides" ng-class="{'slide-label-selected': dotSelected($index)}" ng-click="goToSlide($index)" ng-style="{'background-color': label.labelColor}">
            <span>{{label.title}}</span>
        </div>
    </div>
    <!--<div class="slide-dots">
        <div class="slide-dot" ng-class="{slide_dot_selected: dotSelected($index)}" ng-repeat="dot in slides" ng-click="goToSlide($index)">
        </div>
    </div>-->
</div>
<div class="av-section-wrap"id="mission">
    <div class="container">
        <div class="row">
            <div class="col-md-12 inside-mission">
                <i class="fa fa-comment-o" aria-hidden="true" id="mission-icon"></i>
                <div class="mission-title">Naša Misija</div>
                <div class="mission-description">
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="av-section-wrap" id="activity-showcase">
        <div class="av-heading">Pođi s nama</div>
        <div class="row row-centered">
            <div class="col-md-4 col-sm-4 col-centered activity-box" ng-repeat="activity in activityShowcase">
                <div class="activity-icon">
                    <!-- ng-style="{'background-color': '#' + activity.backgroundColor}" -->
                    <i class="fa" ng-class="activity.icon" aria-hidden="true"></i>
                </div>
                <div class="activity-title">{{activity.title}}</div>
                <div class="activity-description">
                    {{activity.description}}
                </div>
            </div>
        </div>
    </div>
</div>
<div id="pre-upcoming"></div>
<div class="av-section-wrap" id="upcoming">
    <div class="upcoming-wrap" ng-repeat="event in upcoming" ng-show="$index==currentSlideUpcoming">
        <div class="upcoming-background" ng-style="{'background-image': 'url('+ event.imagePath +')'}"></div>
        <div class="upcoming-slide-dark-overlay"></div>
        <div class="upcoming-slide-light-overlay" ng-class="lightOverlayColor"></div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="upcoming-slide-content">
                    <div class="upcoming-slide-title">{{event.eventName}}</div>
                    <div class="upcoming-slide-description">
                       {{event.location}}
                    </div>
                    <button class="rectangle-btn" ng-click="goToEvent(event.id)">Prijava</button><button class="rectangle-btn rectangle-btn-outline-light" id="view-upcoming-btn" ng-click="goToEvent(event.id)">Pregled</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="upcoming-countdown-wrap">
                    <div class="upcoming-countdown-instance">
                        <div class="upcoming-countdown-instance-number">{{event.timeRemaining.days}}</div>
                        <div class="upcoming-countdown-instance-label">Dana</div>
                    </div>
                    <div class="upcoming-countdown-instance">
                        <div class="upcoming-countdown-instance-number">{{event.timeRemaining.hours}}</div>
                        <div class="upcoming-countdown-instance-label">Sati</div>
                    </div>
                    <div class="upcoming-countdown-instance">
                        <div class="upcoming-countdown-instance-number">{{event.timeRemaining.minutes}}</div>
                        <div class="upcoming-countdown-instance-label">Minuta</div>
                    </div>
                    <div class="upcoming-countdown-instance">
                        <div class="upcoming-countdown-instance-number">{{event.timeRemaining.seconds}}</div>
                        <div class="upcoming-countdown-instance-label">Sekundi</div>
                    </div>
                </div>
            </div>
        </div>
        <button class="transparent-round-btn" id="slide-left" ng-click="previousSlideUpcoming()"><i class="fa fa-chevron-down" aria-hidden="true"></i></button>
        <button class="transparent-round-btn" id="slide-right" ng-click="nextSlideUpcomingBreakInterval()"><i class="fa fa-chevron-up" aria-hidden="true"></i></button>
    </div>
    
                <ul class="upcoming-labels">
                    <li ng-repeat="event in upcoming" ng-class="{'upcoming-label-selected': upcomingLabelSelected($index)}" ng-click="goToSlideUpcoming($index)" ng-style="{'background-color': event.categoryColor}">
                        <div class="upcoming-label-big">{{event.eventName}}</div>
                        <div class="upcoming-label-small">{{event.startDate | date: 'dd-MMM-yyyy'}}</div>
                        <div class="upcoming-label-small">{{event.location}}</div>
                    </li>
                </ul>
</div>




<div class="av-section-wrap" id="discount-section">
    <div class="row" >
        <div class="col-md-4 col-xs-12" ng-repeat="columns in chunkedDiscounts" style="padding: 0;">
            <div class="discount" ng-repeat="discount in columns" ng-show="checkCurrentSlides($parent.$index, $index)" ng-click="nextSlideDiscounts($parent.$index)" ng-style="{'background-image': 'url('+ discount.image +')'}">
            </div>
        </div>
    </div>
</div>
<div class="become-member">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-xs-8">
                <div class="become-member-statement" id="become-member-1">
                    Ostvari mogućnost <strong>boniteta</strong> i uštedi svoj novac
                </div>
                <div class="become-member-statement" id="become-member-2">
                    Postani član i budi dio velikog društva
                </div>
            </div>
            <div class="col-md-offset-1 col-md-2 col-xs-offset-1 col-xs-2">
                <button class="rectangle-btn rectangle-btn-outline-dark" id="become-member-btn">Pridruži se!</button>
            </div>
        </div>
    </div>
</div>
<div class="partners-wrap" id="partners">
    <div class="av-heading">Partneri</div>
    <div class="row row-centered">
        <div class="col-md-2 col-centered" ng-repeat="partner in partners">
            <div class="partner-logo">
                <img ng-src="{{partner}}" style="max-height: 100%;" />
            </div>
            <div class="name-logo">Naziv</div>
        </div>
    </div>
</div>
<!--<div class="av-section-wrap">-->
    <!--<div class="av-heading">
        Kuda smo išli
    </div>-->
    <div class="row">
        <div class="col-md-3 col-sm-6" ng-repeat="item in gallery" style="padding: 0;">
            <div class="gallery-item">
                <div class="gallery-item-bg" ng-style="{'background-image': 'url(' + item.imagePath + ')'}"></div>
                <div class="gallery-item-label" ng-style="{'background-color': item.categoryColor}">
                    <div class="gallery-item-label-content">
                        <div class="gallery-item-title">{{item.eventName}}</div>
                        <div class="gallery-item-description">{{item.startDate | date: 'dd/MM/yyyy'}} {{item.location}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--</div>-->
<div class="partners-wrap" id="partners">
    <div class="av-heading">Sponzori</div>
        <div class="row row-centered">
            <div class="col-md-2 col-centered" ng-repeat="partner in partners">
                <div class="partner-logo">
                    <img ng-src="{{partner}}" style="max-height: 100%;" />
                </div>
                <div class="name-logo">Naziv</div>
            </div>
        </div>
</div>
<div class="comments-wrap">
    <div class="container">
        <ul class="upcoming-labels" id="comments">
            <li ng-repeat="comment in recentComments" ng-class="{'recent-post-selected': recentCommentSelected($index)}">
                <div class="comment-event">{{comment.eventName}}</div>
                <div class="comment-profile-picture" ng-style="{'background-image': 'url(' + comment.profilePicture + ')'}"></div>
                <div class="comment-author">{{comment.author}}</div>
                <span class="comment-date-time">{{comment.dateTime}}</span>
                <span class="comment-total"><i class="fa fa-comment-o" aria-hidden="true"></i> {{comment.eventCommentsNumber}}</span>
            </li>
        </ul>
    </div>
</div>
    <div class="av-section-wrap contact-wrap">
        <div class="av-heading" id="contact">
            Kontakt
        </div>
        <div class="contact-wrap-overlay"></div>
        <div class="container">
            <div class="row equal contact-form-style">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Ime:</label>
                        <input type="text" class="form-control" placeholder="Ime">
                    </div>
                    <div class="form-group">
                        <label>Email:</label>
                        <input type="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label>Telefon:</label>
                        <input type="text" class="form-control" placeholder="Telefon">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Poruka</label>
                        <textarea class="form-control" id="contact-msg"></textarea>
                    </div>
                </div>
            </div>
                <div class="row row-centered">
                    <div class="col-md-12 text-right">
                        <button class="rectangle-btn" id="contact-submit-btn">Pošalji</button>
                    </div>
                </div>
        </div>
    </div>


<footer class="footer-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Ars Vivendi</h3>
                <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</span>
            </div>
            <div class="col-md-2">
                <h3>Pratite Nas</h3>
                <ul class="footer-follow">
                    <li><a href="https://www.facebook.com/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                    <li><a href="https://twitter.com/"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.youtube.com/"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h3>Brzi Linkovi</h3>
                <ul>
                    <li><a>Događaji</a></li>
                    <li><a>Aktuelno</a></li>
                    <li><a>Protekli Događaji</a></li>
                    <li><a>Boniteti</a></li>
                    <li><a>Profil</a></li>
                    <li><a>Postani Član</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Kontakt Info</h3>
                <div>Lorem Ipsum is simply dummy text</div>
                <div>Lorem Ipsum is simply dummy text</div>
                <div>Lorem Ipsum is simply dummy text</div>
                <div>Lorem Ipsum is simply dummy text</div>
            </div>
        </div>
    </div>
</footer>