<div class="gray-wrapper">
    <div class="container">
        <div class="box-members">
            <div class="profile-interests-wrap text-center" ng-show="interestsLoading || categoriesLoading">
                <img src="img/spin.gif" />
            </div>
            <div class="row" ng-hide="interestsLoading || categoriesLoading">
                <!--<div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">-->
                <div class="col-md-12">
                    <div class="box-members-list">
                        <p class="members-table-title">Interesi</p>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="members-table-options text-right">
                                    <button ng-if="userRole === 'Admin'" data-toggle="modal" data-target="#newInterestCategoryModal" class="btn btn-primary">+ Kategorija</button>
                                    <button ng-if="userRole === 'Admin'" data-toggle="modal" data-target="#newInterestModal" class="btn btn-primary">+ Karakteristika</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default" ng-repeat="category in interestCategories">
                                        <div class="panel-heading">
                                            <div class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" ng-href="{{'#collapse' + $index}}" href="" target="_self">
                                                    {{category.categoryName}}
                                                </a>
                                                <div class="pull-right" ng-if="userRole === 'Admin'">
                                                    <a href="">
                                                        <i class="fa fa-plus" aria-hidden="true" data-toggle="modal" data-target="#newInterestModal" ng-click="initCategory(category)"></i>
                                                    </a>
                                                    <a href="">
                                                        <i class="fa fa-pencil" aria-hidden="true" data-toggle="modal" data-target="#editingInterestCategoryModal" ng-click="setEditingCategory(category)"></i>
                                                    </a>
                                                    <a href="">
                                                        <i class="fa fa-times" aria-hidden="true" data-toggle="modal" data-target="#deletingInterestCategoryModal" ng-click="setDeletingCategory(category)"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="{{'collapse' + $index}}" class="panel-collapse collapse">
                                            <!--ng-class='{in:$first}'-->
                                            <div class="panel-body">
                                                <ul class="row profile-interests-category">
                                                    <li ng-repeat="interest in allInterests">
                                                        <div class="check-hover" ng-if="interest.categoryId===category.id" ng-mouseenter="enterInterest=true;" ng-mouseleave="enterInterest=false;">
                                                            <span>{{interest.name}}</span>
                                                            <a href="" class="pull-right" ng-show="enterInterest" ng-if="userRole === 'Admin'">
                                                                <i class="fa fa-times" aria-hidden="true" data-toggle="modal" data-target="#deletingInterestModal" ng-click="setDeletingInterest(interest)"> </i>
                                                            </a>
                                                            <a href="" class="pull-right" style="margin-right: 5px;" ng-show="enterInterest" ng-if="userRole === 'Admin'">
                                                                <i class="fa fa-pencil" aria-hidden="true" data-toggle="modal" data-target="#editingInterestModal" ng-click="setEditingInterest(interest)"> </i>
                                                            </a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
              </div>
        </div>
    </div>
</div>


<!--New INTEREST CATEGORY MODAL-->
<div id="newInterestCategoryModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Nova Kategorija</h4>
            </div>
            <form name="newCategoryForm" novalidate>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Ime kategorije:</label>
                        <div ng-show="newCategoryForm.$submitted || newCategoryForm.categoryName.$touched">
                            <div class="alert alert-danger" role="alert" ng-show="newCategoryForm.categoryName.$error.required">Obavezno polje</div>
                        </div>
                        <input type="text" class="form-control" name="categoryName" placeholder="Ime" ng-model="newInterestCategory.CategoryName" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" ng-click="createInterestCategory(newCategoryForm)">Potvrdi</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelInterestCategoryForm(newCategoryForm)">Zatvori</button>
                </div>
            </form>
        </div>

    </div>
</div>

<!--Editing INTEREST CATEGORY MODAL-->
<div id="editingInterestCategoryModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Izmjena kategorije</h4>
            </div>
            <form name="editCategoryForm" novalidate>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Ime kategorije:</label>
                        <div ng-show="editCategoryForm.$submitted || editCategoryForm.categoryName.$touched">
                            <div class="alert alert-danger" role="alert" ng-show="editCategoryForm.categoryName.$error.required">Obavezno polje</div>
                        </div>
                        <input type="text" class="form-control" name="categoryName" placeholder="Ime" ng-model="editingInterestCategory.categoryName" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" ng-click="updateInterestCategory(editCategoryForm)">Potvrdi</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelEditingCategoryForm(editCategoryForm)">Zatvori</button>
                </div>
            </form>
        </div>

    </div>
</div>

<!--Deleting INTEREST CATEGORY MODAL-->
<div id="deletingInterestCategoryModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Brisanje kategorije</h4>
            </div>
            <div class="modal-body">
                <p>Da li ste sigurni da želite obrisati kategoriju?</p>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger" data-dismiss="modal" ng-click="deleteInterestCategory()">Potvrdi</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelDeletingCategory()">Zatvori</button>
            </div>
        </div>

    </div>
</div>

<!--New INTEREST MODAL-->
<div id="newInterestModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Nova karakteristika</h4>
            </div>
            <form name="newInterestForm" novalidate>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="form-group">
                            <label>Kategorija:</label>
                            <div ng-show="newInterestForm.$submitted || newInterestForm.category.$touched">
                                <div class="alert alert-danger" role="alert" ng-show="newInterestForm.category.$error.required">Odaberite kategoriju</div>
                            </div>
                            <select name="category" class="form-control" ng-model="newInterest.categoryId" required>
                                <option value="" disabled>---Odaberite---</option>
                                <option ng-repeat="category in interestCategories track by category.id" ng-value="category.id">{{category.categoryName}}</option>
                            </select>
                        </div>
                        <label>Ime karakteristike:</label>
                        <div ng-show="newInterestForm.$submitted || newInterestForm.name.$touched">
                            <div class="alert alert-danger" role="alert" ng-show="newInterestForm.name.$error.required">Obavezno polje</div>
                        </div>
                        <input type="text" class="form-control" name="name" placeholder="Ime" ng-model="newInterest.name" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" ng-click="createInterest(newInterestForm)">Potvrdi</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelInterestForm(newInterestForm)">Zatvori</button>
                </div>
            </form>
        </div>

    </div>
</div>

<!--Edit INTEREST MODAL-->
<div id="editingInterestModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Izmjena karakteristike</h4>
            </div>
            <form name="editInterestForm" novalidate>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Ime karakteristike:</label>
                        <div ng-show="editInterestForm.$submitted || editInterestForm.name.$touched">
                            <div class="alert alert-danger" role="alert" ng-show="editInterestForm.name.$error.required">Obavezno polje</div>
                        </div>
                        <input type="text" class="form-control" name="name" placeholder="Ime" ng-model="editingInterest.name" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" ng-click="updateInterest(editInterestForm)">Potvrdi</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelEditingInterestForm(editInterestForm)">Zatvori</button>
                </div>
            </form>
        </div>

    </div>
</div>

<!--Deleting INTEREST CATEGORY MODAL-->
<div id="deletingInterestModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Brisanje karakteristike</h4>
            </div>
            <div class="modal-body">
                <p>Da li ste sigurni da želite obrisati karakteristiku?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteInterest()">Potvrdi</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelDeletingInterest()">Zatvori</button>
            </div>
        </div>

    </div>
</div>