<div class="gray-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!--<div uib-timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>

                <pre class="alert alert-info">Time is: {{mytime | date:'shortTime' }}</pre>-->
                <form id="new-event-form">
                    <ul class="input-list">
                        <li><label>name</label><input type="text" ng-model="newEvent.name" value="" /></li>
                        <li><label>type</label><input type="text" ng-model="newEvent.type" /></li>
                        <li><label>description</label><textarea ng-model="newEvent.description" rows="6" cols="50"></textarea></li>
                        <li><label>image</label><input type="file" ng-model="newEvent.image" /></li>
                        <li><label>video</label><textarea ng-model="newEvent.video" rows="6" cols="50"></textarea></li>
                        <li>
                            <label>startDate</label>
                                    <input type='text' class="form-control" ng-model="newEvent.startDate"/>
                                  
                        </li>
                        <li>
                            <label>endDate</label>
                                    <input type='text' class="form-control" ng-model="newEvent.endDate" />
                                 
                        </li>
                        <li><label>organizator</label><input type="text" ng-model="newEvent.organizator" /></li>
                        <li><label>location</label><input type="text" ng-model="newEvent.location" /></li>
                        <li><label>departureTime</label><input type="text" ng-model="newEvent.departureTime" /></li>
                        <li><label>departurePlace</label><input type="text" ng-model="newEvent.departurePlace" /></li>
                        <li><label>maxPeople</label><input type="text" ng-model="newEvent.maxPeople" /></li>
                        <li><label>forAge</label><input type="range" ng-model="newEvent.forAge" /></li>
                        <li><label>necessaryEquipment</label><input type="text" ng-model="newEvent.necessaryEquipment" /></li>
                        <li><label>contactInfo</label><input type="text" ng-model="newEvent.contactInfo" /></li>
                        <li><label>website</label><input type="url" ng-model="newEvent.website" /></li>
                        <li>
                            
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
    <div stlye="display: block; position: absolute; bottom: 15px; left: 0;">
        {{newEvent.name}} , {{newEvent.type}} , {{newEvent.description}} ,
        {{newEvent.image}} , {{newEvent.video}} , {{newEvent.startDate}} ,
        {{newEvent.endDate}} , {{newEvent.organizator}} , {{newEvent.location}} ,
        {{newEvent.departureTime}} , {{newEvent.departurePlace}} , {{newEvent.maxPeople}} ,
        {{newEvent.forAge}} , {{newEvent.necessaryEquipment}} , {{newEvent.contactInfo}} ,
        {{newEvent.website}}
    </div>
</div>
