@font-face { font-family: Raleway; src: url('/fonts/Raleway-Regular.ttf'); } 
@font-face { font-family: RalewayThin; src: url('/fonts/Raleway-Thin.ttf'); } 
@font-face { font-family: RalewayLight; src: url('/fonts/Raleway-Light.ttf'); } 
@font-face { font-family: RalewayBold; src: url('/fonts/Raleway-Bold.ttf'); } 

@font-face { font-family: NunitoSans-Black; src: url('/fonts/nunitosans/NunitoSans-Black.ttf'); } 
@font-face { font-family: NunitoSans-BlackItalic; src: url('/fonts/nunitosans/NunitoSans-BlackItalic.ttf'); } 
@font-face { font-family: NunitoSans-Bold; src: url('/fonts/nunitosans/NunitoSans-Bold.ttf'); } 
@font-face { font-family: NunitoSans-BoldItalic; src: url('/fonts/nunitosans/NunitoSans-BoldItalic.ttf'); } 
@font-face { font-family: NunitoSans-ExtraBold; src: url('/fonts/nunitosans/NunitoSans-ExtraBold.ttf'); } 
@font-face { font-family: NunitoSans-ExtraBoldItalic; src: url('/fonts/nunitosans/NunitoSans-ExtraBoldItalic.ttf'); } 
@font-face { font-family: NunitoSans-ExtraLight; src: url('/fonts/nunitosans/NunitoSans-ExtraLight.ttf'); } 
@font-face { font-family: NunitoSans-ExtraLightItalic; src: url('/fonts/nunitosans/NunitoSans-ExtraLightItalic.ttf'); } 
@font-face { font-family: NunitoSans-Italic; src: url('/fonts/nunitosans/NunitoSans-Italic.ttf'); } 
@font-face { font-family: NunitoSans-Light; src: url('/fonts/nunitosans/NunitoSans-Light.ttf'); } 
@font-face { font-family: NunitoSans-LightItalic; src: url('/fonts/nunitosans/NunitoSans-LightItalic.ttf'); } 
@font-face { font-family: NunitoSans-Regular; src: url('/fonts/nunitosans/NunitoSans-Regular.ttf'); } 
@font-face { font-family: NunitoSans-SemiBold; src: url('/fonts/nunitosans/NunitoSans-SemiBold.ttf'); } 
@font-face { font-family: NunitoSans-SemiBoldItalic; src: url('/fonts/nunitosans/NunitoSans-SemiBoldItalic.ttf'); } 

@font-face {
    font-family: 'Glyphicons Halflings';

    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

html, body{
    height: 100%;
}

body{
    margin: 0;
    padding-top: 125px;
    font-family: NunitoSans-Regular;
    overflow-x: hidden;
}
@media (max-width: 991px) {
    body{
    padding-top: 95px;
    }
}
div {
  box-sizing: border-box;
}
a {
    text-decoration: none;
    color: black;
}
a:hover, a:active, a:focus{
    color: black;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.templates{
    height: 100%;
}

.templates.ng-enter{
    transition: 0.5s linear all;
    opacity: 0;
}
.templates.ng-enter.ng-enter-active{
    opacity: 1;
}
.material-round-btn{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #02CB9E;
    color: white;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.transparent-round-btn{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    background: transparent;
    line-height: 40px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.3);
    transition: all 0.2s;
}
.transparent-round-btn:hover{
    border: 2px solid rgba(255, 255, 255, 0.6);
    color: rgba(255, 255, 255, 0.6)
}

.rectangle-btn{
    border: 0;
    width: 150px;
    height: 50px;
    background-color: #02CB9E;
    color: white;
    font-family: NunitoSans-Regular;
    font-size: 16px;
    text-transform: uppercase;
    transition: all 0.2s;
}
.rectangle-btn:hover{
    cursor:pointer;
    padding: 0;
    background-color: #00AD40;
}


.rectangle-btn-outline-light{
    border: 2px solid white;
    color: white;
    background: transparent;
}.rectangle-btn-outline-light:hover{
    background: white;
    color: black;
}
.rectangle-btn-outline-dark{
    border: 2px solid black;
    color: black;
    background: transparent;
}
.rectangle-btn-outline-dark:hover{
    color: white;
    background: black;
}


.inline-list{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}
.inline-list li{
    display: inline;
}


.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* inline-block space fix */
    margin-right:-4px;
}

@media (min-width: 991px){
    .hide-item, .nav > .hide-item {
    display: none;
    }
}
    
@media (max-width: 991px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  
  .navbar-nav-custom li a{
      padding: 10px 20px;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}

/*NEW NAVBAR*/
#main-navbar{
    position: absolute;
    top: 45px;
    left: 0;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.24);
    background: white;
}
#over-navbar{
    position: absolute;
    top: 0;
    left: 0;
    background: #02CB9E;
}
.navbar-custom {
    width: 100%;
    z-index: 5;
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
}
#main-navbar > .container-fluid .navbar-brand{
    margin-left: 0;
}
#main-navbar .navbar-brand, #main-navbar .navbar-brand:hover, #main-navbar .navbar-nav li a {
    color: black;
}
#main-navbar .navbar-nav li a:hover{
    color: gray;
}
.navbar-brand-custom{
    font-family: Raleway;
    letter-spacing: 2px;
}
#over-navbar .navbar-brand, #over-navbar .navbar-brand:hover, #over-navbar .navbar-nav li a {
    color: white;
}
#over-navbar .navbar-nav li a:hover{
    color: white;
}
.over-nav-custom{
    font-size: 14px;
    font-family: NunitoSans-Bold;
    text-transform: uppercase;
    transition: all 0.3s;
}
.navbar-nav-custom li a {
    font-size: 14px;
    font-family: NunitoSans-Bold;
    text-transform: uppercase;
    transition: all 0.3s;
}
@media  (min-width: 991px){
    .navbar-nav-custom li a {
        padding: 30px 20px;
    }
    .navbar-brand-custom{
    font-size: 30px;
    padding-top: 30px;
}
}

.navbar-nav-custom li a:hover{
    background-color: white;
    color: gray;
}
.header-social{
    float: left;
}
.header-nav{
    float: right;
}
.header-social, .header-nav{
    line-height: 45px;
}
.header-social li, .header-nav li{
    display: inline-block;
    width: auto;
    padding: 0 18px;
}

  .welcome-header {
        position: absolute;
        top: 0;
        left:0;
        width: 100%;
        height: 45px;
        background-color: #02CB9E;
        z-index: 5;
    }
  .welcome-header-wrap{
      display: table;
      height: 45px;
      width: 100%;
  }

.welcome-header-social {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0;
    color: white;
}

    .welcome-header-social li {
        display: inline-block;
        width: auto;
        padding: 0 18px;
    }

        .welcome-header-social li:first-child {
            padding-left: 5px;
        }

.welcome-header-navigation {
    display: none;
}

    .welcome-header-navigation li a, .welcome-header-social li a {
        text-decoration: none;
        color: white;
        font-size: 14px;
        font-family: NunitoSans-Bold;
        text-transform: uppercase;
        transition: all 0.3s;
    }

@media only screen and (min-width: 1150px) {


    .welcome-header-social {
        width: 60%;
        text-align: left;
    }

    .welcome-header-navigation {
        width: 40%;
        display: table-cell;
        vertical-align: middle;
        text-align: right;
        padding: 0;
    }

        .welcome-header-navigation li, .welcome-header-social li {
            display: inline-block;
            width: auto;
            padding: 0 18px;
        }
        .welcome-header-social li:first-child{
            padding-left:5px;
        }

}

/*HOME*/

/*WELCOME SLIDER*/
.welcome-screen{
    position: relative;
    width: 100%;
    height: 100%;
    /*margin-bottom: 100px;*/
}
.slide{
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
}
/* The finishing CSS styles for the enter animation */

.slide-animate.ng-hide-add, .slide-animate.ng-hide-remove {
    display: block!important;
    transition: all 0.5s linear;
}
.slide-animate.ng-hide-add { 
    opacity: 1;
}
.slide-animate.ng-hide-add.ng-hide-add-active {
    opacity: 0;
}
.slide-animate.ng-hide-remove { 
    opacity: 0;
}
.slide-animate.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
}



.slide-background{
    width: 100%;
    height: 100%;
    max-width: 100%;
}
.slide-image{
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    position: relative;
    z-index: -1;
}
.slide-overlay{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    background-color: rgba(0,0,0,0.2);
}
.slide-content{
    display: table-cell;
    position: absolute;
    top: 0; right: 0; bottom:0; left: 0;
    margin: auto;
    width: 100%;
    height: 50vh;
    max-width: 60%;
    text-align: center;
    word-break: break-word;
    vertical-align: middle;
    color: white;
}
.slide-title{
    position: relative;
    display: block;
    width: 100%;
    font-family: NunitoSans-Black;
    font-size: calc(14px + 3vw);
    margin: 50px 0 15px 0;
    text-transform: uppercase;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.4);
}
.slide-description{
    position: relative;
    display: block;
    width: 100%;
    font-size: calc(8px + 2vh);
    font-family: NunitoSans-Light;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.4);
    margin-bottom: 4vh;
}
#register-btn{
    position: relative;
    width: 200px;
    max-width: 45vw;
    margin: 0 auto;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3);
}

#slide-left{
    position: absolute;
    left: 3vw;
    top: 0; bottom:0;
    margin: auto 0;
}
#slide-right{
    position: absolute;
    right: 3vw;
    top: 0; bottom:0;
    margin: auto 0;
}
.slide-labels{
    position: absolute;
    top: 40%;
    left: 0;
}
.slide-label{
    width: 130px;
    height: 50px;
    color:white;
    line-height: 50px;
    text-transform: uppercase;
    overflow: hidden;
    word-break: break-all;
    background: black;
    cursor: pointer;
    text-align: right;
    padding: 0 10px;
    transition: 0.3s;
}
.slide-label:hover{
    width: 160px;
}
.slide-label-selected{
    width: 160px;
}
.slide-dots{
    position: absolute;
    bottom: 2vh;
    left: 0; right: 0;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.slide-dot{
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: white;
    margin: 0 5px;
    transition: all 0.4s, transform 0.2s;
}
.slide-dot:hover{
    cursor: pointer;
    background-color: #02CB9E;
    transform: scale(1.2, 1.2);
}
.slide_dot_selected{
    background-color: #02CB9E;
    transform: scale(1.2, 1.2);
}

/*Activity showcase*/
#activity-showcase{
    margin-bottom: 0;
}
.av-section-wrap{
    display: block;
    margin-bottom: 100px;
    text-align: center;
    position: relative;
}
.av-heading{
    display: inline-block;
    font-size: 30px;
    color: gray;
    text-transform:uppercase;
    padding-bottom: 15px;
    border-bottom: 2px solid gray;
    margin-bottom: 75px;
}
.activity-box{
    padding: 25px 20px;
}
.activity-icon{
    width: 80px;
    height: 80px;
    background: #EEEEEE;
    border-radius: 50%;
    margin: 0 auto;
    font-size: 32px;
    color: #00A37F;
    line-height: 85px;
}
.activity-title{
    padding: 15px 0;
    font-size: 20px;
    font-family: NunitoSans-Bold;
}
.activity-description{
    color: gray;
    font-size:14px;
}

/*MISSION*/
#mission{
    background: #02CB9E;
    color: white;
}
.inside-mission{
    text-align:center;
    padding: 50px 10px;
}
#mission-icon{
    font-size: 42px;
    margin-bottom: 10px;
}
.mission-title{
    font-size: 24px;
    margin-bottom: 25px;
}
.mission-description{
    font-size: 18px;
    font-family: NunitoSans-Italic;
}

/*UPCOMING ACTIVITY*/
#pre-upcoming{
    width: 100%;
    height: 102px;
}
#upcoming{
    margin-bottom: 0;
}
.upcoming-wrap{
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}
.upcoming-background{
    width: 100%;
    height: 100%;
    position: absolute; top: 0; left:0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.upcoming-wrap.ng-hide-add, .upcoming-wrap.ng-hide-remove {
    display: block!important;
    transition: all 0.5s linear;
}
.upcoming-wrap.ng-hide-add { 
    height: 600px;
}
.upcoming-wrap.ng-hide-add.ng-hide-add-active {
    height: 0;
}
.upcoming-wrap.ng-hide-remove { 
    height: 0;
}
.upcoming-wrap.ng-hide-remove.ng-hide-remove-active {
    height: 600px;
}
.upcoming-slide-dark-overlay{
    position: absolute;
    top:0; left: 0;
    width: 50%;
    height: 100%;
    background: rgba(0, 4, 2, 0.3);
}
.upcoming-slide-light-overlay{
    position: absolute;
    top:0; right: 0;
    width: 50%;
    height: 100%;
    background: rgba(36, 162, 99, 0.3);/*rgba(96, 235, 177, 0.5);*/
}
@media (max-width: 991px){
    .upcoming-slide-light-overlay {
        display: none;
    }
    .upcoming-slide-dark-overlay{
        width: 100%;
    }
}
.upcoming-slide-content{
    padding: 10vh 6vw 10vh 12vw;
    text-align:left;
    color:white;
}
.upcoming-slide-title{
    font-family: NunitoSans-Black;
    font-size: 58px;
    text-transform: uppercase;
}
.upcoming-slide-description{
    margin: 40px 0 60px 0;
}
#view-upcoming-btn{
    margin-left: 40px;
}
.upcoming-countdown-wrap{
    text-align:center;
    color: white;
    padding-top: 40px;
}
.upcoming-countdown-instance{
    position: relative;
    display: block;
    width: 110px;
    height: 70px;
    border: 2px solid #42D542;
    margin: 50px auto;
}
.upcoming-countdown-instance-number{
    font-family: NunitoSans-Black;
    font-size: 58px;
    position: absolute;
    top: -40px;
    left: 0; right: 0;
    margin: 0 auto;
}
.upcoming-countdown-instance-label{
    line-height: 100px;
    font-size: 18px;
}
.upcoming-labels{
    padding:0;
    margin: 0;
    width: 100%;
    list-style-type: none;
}
.upcoming-labels li{
    display: inline-block;
    width: 20%;
    min-width: 200px;
    padding: 25px;
    text-align: left;
    cursor: pointer;
    color: white;
}
.upcoming-labels li:hover{
    background: #EEEEEE;
}
.upcoming-label-selected{
    background: #EEEEEE;
}
.upcoming-label-big{
    font-family: NunitoSans-Bold;
    font-size: 16px;
}
.upcoming-label-small{
    font-family: NunitoSans-Light;
    font-size: 12px;
}

/*4 SECTION PARTNERS*/
.partners-wrap{
    text-align: center;
    padding-top: 50px;
    background: white;
    /*margin-bottom: 100px;*/
    overflow: hidden;
}
.partner-logo-wrap{
    height: 100px;
    width: auto;
    display: inline-block;
    /*margin-bottom: 50px;*/
    filter: grayscale(100%);
}
.partner-logo{
    max-width:100%;
    max-height:100%;
}
.name-logo{
    margin-bottom: 50px;
}

/*Discounts*/
#discount-section{
    margin-bottom:0;
}
.discount{
    background: gray;
    height: 320px;
    width: 100%;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    cursor: grab;
}
.discount-image{
    vertical-align: middle;
    object-fit: cover;
    max-width: 100%;
}

/*5 SECTION GALLERY*/
.gallery-item{
    position: relative;
    width: 100%;
    height: 350px;
    cursor: pointer;
    overflow: hidden;
    /*margin-bottom: 20px;*/
}
.gallery-item-bg{
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
}
.gallery-item-bg:hover{
    transform: rotate(10deg) scale(1.4, 1.4);
}
.gallery-item-label{
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0; left: 0; right: 0;
    color: white;
    text-align: left;
    padding: 15px 25px;
    background: rgba(0,0,0,0.5);
    transition: all 0.3s;
}
.gallery-item-title{
    font-family: NunitoSans-Bold;
    font-size: 16px;
}
.gallery-item-description{
    font-family: NunitoSans-Light;
    font-size: 12px;
}
.gallery-item:hover .gallery-item-label{
    background: #02CB9E;
    color: white;
}

/*BECOME MEMBER*/
.become-member{
    background: url(/img/whitestonebg.png);
    padding: 75px 0;
    color: rgba(0,0,0,0.7);
    transition: all 0.5s;
}
.become-member-statement{
    font-size: 24px;
    font-family: NunitoSans-Bold;
    padding-top: 8px;
    /*position: absolute;
    top: 8px;
    left:0;*/
    margin: auto;
    margin-bottom: 15px;
    transition: all 0.5s;
}
#become-member-btn{
}
/*#become-member-2{
    opacity: 0;
}
.become-member:hover #become-member-1{
    opacity: 0;
}
.become-member:hover #become-member-2{
    opacity: 1;
}*/

/*6 SECTION CONTACT*/
.contact-wrap{
    position:relative;
    background-image: url(https://s-media-cache-ak0.pinimg.com/originals/a5/10/96/a510967605d273c1517b640d6a380c8c.jpg);/* url(http://wallpapercave.com/wp/vjaSDB8.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    margin-bottom: 0;
}
.contact-wrap-overlay{
    position: absolute;
    top:0; left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
}
#contact{
    position: relative;
    /*color: rgba(0,0,0,0.7);
    border-color: rgba(0,0,0,0.7);*/
    color:white;
    border-color:white;
    z-index: 2;
}
.contact-form-style{
    color:white;
    text-align:left;
    margin-bottom: 50px;
}
#contact-msg{
    height: 182px;
}

/*7 SECTION FOOTER*/
.footer-wrap{
    position: relative;
    padding: 50px 0;
    background: rgba(0,0,0,0.8);
    color: white;
}
.footer-wrap a{
    color: white;
}
.footer-wrap a .fa{
    font-size: 32px;
}
.footer-follow{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.footer-follow li{
    display: inline-block;
    margin-right: 25px;
}
.footer-follow li:last-child{
    margin-right: 0;
}


/*LOGIN*/

.login-screen{
    display: block;
    /*background: rgba(0,0,0,0.1);*/
    background-repeat: repeat;
    background-image: url(/img/whitestonebg.png);
    padding: 10vh 0;
    min-height: 100%;
}
.login-form{
    position: relative;
    margin: 0 auto;
    display: block;
    background: white;
    width: 90vw;
    max-width: 500px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.login-line{
    position: relative;
    display: block;
    height: 70px;
    border-bottom: 1px solid #E5E5E5;
    line-height: 70px;
    padding: 0 30px;
    list-style-type: none;
    margin: 0;
}
.login-line p{
    text-align: center;
    color: gray;
    font-family: NunitoSans-Light;
    font-size: 16px;
}
.login-line label{
    font-family: NunitoSans-Regular;
    font-weight: 100;
    color: gray;
}

.login-line .radio-inline input[type="radio"]{
    position: relative;
}

#birthdate{
    display: inline;
    padding-left: 30px;
    padding-right: 30px;
    width: auto;
    height: 69px;
}
.login-line .uib-datepicker-popup{
    line-height: 1.42857143;
}
.login-line input[type="radio"]{
    margin: 0 3px;
}
.login-line li{
    display: inline-block;
}
.login-line li:first-child{
    color:gray;
    margin-right: 15px;
}
.login-line li label{
    font-family: NunitoSans-Regular;
    font-weight: 100;
}
.login-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.login-list li{
    position: relative;
    display: block;
    height: 70px;
    border-bottom: 1px solid #E5E5E5;
    line-height: 70px;
}
.login-list li:hover{
    background: rgba(0,0,0,0.1);
    cursor: pointer;
}
.login-list li label{
    width: 90%;
    font-family: NunitoSans-Regular;
    font-weight: 100;
    padding-left: 30px;
    color: gray;
}

.login-form input[type="text"],  .login-form input[type="password"], .login-form input[type="email"]{
    display: block;
    width: 100%;
    border: 0;
    height: 70px;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 1px solid #E5E5E5;
}
.login-tabs li{
    width: 50%;
    text-align: center;
    height: 70px;
}
.login-tabs li a{
    height: 100%;
    line-height: 54px;
    font-family: NunitoSans-Bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    border: 0;
    border-radius: 0;
    margin: 0;
    color:#809191;
    background-color: #D2D8D8;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
    border: 0;
    color: black;
    background-color: white;
}
.login-btn-full{
    display: block;
    width: 100%;
    height: 70px;
    border-radius: 0;
    background: #00A37F;
}
.login-btn-halfway{
    display: inline-block;
    width: 50%;
    height: 70px;
    border-radius: 0;
    background: #00A37F;
}

.connect{
    display: block;
    height: 70px;
    width: 100%;
    color: white;
    line-height: 70px;
}
.connect:hover{
    color: white;
}
.connect-icon{
    float: left;
    width: 70px;
    text-align: center;
    font-size: 22px;
}
.connect-context{
    width: calc(100% - 70px);
    float: right;
    text-align: center;
    font-family: NunitoSans-Regular;
}
.facebook{
    background-color: #3b5998;
}
.facebook .connect-icon{
    background-color: #283d68;
}
.gplus{
    background-color: #dd4b39;
}
.gplus .connect-icon{
    background-color: #b52f1f;
}
.no-bg-btn{
    background: transparent;
    color: gray;
}
.no-bg-btn:hover{
    background: transparent;
}

/*ADMIN PANEL*/
.admin-navbar{
    background-color: #02CB9E;
    color: white;
}
    .admin-navbar .navbar-brand{
    color: white;
    }
    .admin-navbar a{
    color: white;
}
#side-menu li a{
    color: gray;
}


/*EVENTS*/

.gray-wrapper{
    display: block;
    /*background: rgba(0,0,0,0.1);*/
    background-image: url(/img/whitestonebg.png);
    background-repeat: repeat;
    min-height: 100%;
    width: 100%;
    overflow:auto;
}
#add-event-btn{
    position: absolute;
    bottom: 30px;
    right: 30px;
}

#new-event-form{
    max-width: 800px;
}
.input-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.input-list li{
    display: block;
}
.center-element{
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
}

/*MEMBERs*/
.member-filters{
  height:calc(100% - 125px);
  width:0;
  position:fixed;
  z-index:1;
  top:125px;
  left:0;
  background: white;
  overflow-x:hidden;
  transition:0.5s;
}
.member-filters-visible{
    width: 380px;
}
.member-filters-inner{
    margin: 20px;
}
.box-members{
    padding: 5vh 0;
}
.box-members-list{
    background-color:white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.box-members-list-wrap{
    padding: 0 35px;
    background-color: white;
    text-align:center;
}
.box-members-list-wrap #top-members-pagination{
    margin: 35px 0 5px 0;
}
.box-members-list-wrap #bottom-members-pagination{
    margin: 35px 0;
}
.members-panel{
    overflow-x: auto;
}
.members-table-title{
    background-color: #3A7AD2;
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin: 0;
}
.members-table-options{
    margin: 10px;
}
.members-table{
    margin: 0;
}
.table > thead > tr > th{
    padding: 0;
}
.table > tbody > tr > td{
    border: 0;
}

.members-table thead tr th{
    vertical-align: middle;
    text-transform: capitalize;
    cursor: pointer;
    background-color: white;
}
.members-table tbody tr td{
    background-color: white;
    overflow: hidden;
    text-overflow: ellipsis;
}
 .members-table tbody tr td{
     text-align: left;
 }
.members-table thead tr th{
    text-align: center;
}
.members-table thead tr th:first-child, .members-table tbody tr td:first-child{
    text-align: left;
}
.members-table thead tr th:last-child, .members-table tbody tr td:last-child{
    text-align: right;
    width: 100px;
}
.members-table thead tr th{
    border-bottom: 2px solid #3A7AD2;
}
    .members-table thead tr th:hover {
        border-color: #02CB9E;
    }
    .members-table thead tr th:first-child, .members-table thead tr th:last-child{
        cursor: auto;
    }

    .members-table tbody tr td, .members-table thead tr th{
        height: 60px;
        vertical-align: middle;
    }
     .members-table thead tr th:first-child, .members-table tbody tr td:first-child{
         padding-left: 35px;
     }
      .members-table thead tr th:last-child, .members-table tbody tr td:last-child{
         padding-right: 35px;
     }
      .members-table tbody tr{
          border-top: 1px solid white;
      }
      .members-table tbody tr:hover{
          border-top: 1px solid #3A7AD2;
          border-bottom: 1px solid #3A7AD2;
          z-index: 2;
      }

.members-table tr td a{
    text-decoration: none;
    color: gray;
    cursor: pointer;
}

.member-profile-picture{
    max-width: 45px;
    max-height: 45px;
    border-radius: 50%;
}

.members-filter-toggle{
    padding: 10px 15px;
    display: block;
    width: 100%;
    background-color: #3A7AD2;
    color: white;
    cursor: pointer;
}
.members-filter{
    padding: 15px;
}
.members-filter ul {
    padding:0;
    margin: 0;
    list-style-type:none;
}
.members-filter ul li{
    display: block;
    width: 100%;
    background-color: white;
}
#add-member-btn {
    position: absolute;
    top: 55px;
    right: 45px;
}
#add-member-btn:hover{
    color: white;
}
.modal-title-padding{
    padding-left: 15px;
}
.add-member-form input[type="text"], .add-member-form input[type="password"], .add-member-form input[type="email"]{
    display: block;
    width: 100%;
    border: 0;
    height: 70px;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 1px solid #E5E5E5;
}
.delete-member-form .login-line p{
    display: block;
    width: 100%;
    border: 0;
    height: 70px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid #E5E5E5;
    text-align:left;
}
#del-question{
    text-align:center;
}

.borderless-input{
    border: 0;
}

.modal-border{
     border-bottom-right-radius: 4px;
}
.modal-width-adjust{
    max-width: 500px;
}


/*PROFILE*/
@media(min-width: 991px){
    .equal { 
        display: flex;
    }
}

.profile-sidebar{
    background-color: #02CB9E;
    height: 100%;
    width: 100%;
    text-align: center;
}
.profile-header-name{
    font-size: 30px;
    color: white;
    padding-top: 50px;
}
.profile-top{
    padding: 50px;
}
.profile-picture-frame{
    position: relative;
    height: 250px;
    width: 250px;
    margin: auto;
    background-color: #02CB9E;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0px 12px rgba(0,0,0,0.19), 0 0px 12px rgba(0,0,0,0.19);
}
.profile-picture{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile-picture-upload{
    opacity: 0;
    position: absolute;
    top:0;
    left: 0;
    overflow: hidden;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    transition: all 0.3s;
    text-align: center;
    color: white;
    font-size: 64px;
    line-height: 250px;
    cursor: pointer;
}
.profile-picture-frame:hover .profile-picture-upload{
    opacity: 1;
}

.profile-details{
    margin: 50px 0;
    width: 100%;
    background: white;
    box-shadow: 0 0px 3px rgba(0,0,0,0.19), 0 0px 3px rgba(0,0,0,0.19);
    overflow-x: hidden;
}
.stats-wrap{
    padding: 50px 0;
}
.wrap-activity-counter{
    text-align: center;
}
.activity-counter{
    background-color: rgba(0,0,0,0.2);
    width: 80px;
    height: 80px;
    margin: auto;
    line-height: 80px;
    text-align: center;
    font-size: 30px;
    color: white;
}
.activity-counter p{
    color: white;
}

.profile-tabs li{
    width: 100%;
}
.profile-tabs li a{
    background-color: #02CB9E;
    color: white;
}
.profile-tabs li a:hover{
    background-color: white;
    color: black;
}
.profile-tab-content{
    margin: 50px;
}

.profile-fields li{
    border: 0;
    display: block;
    padding: 15px 0;
}
.profile-fields{
    padding: 35px 50px;
}
.profile-interests-wrap{
    padding: 35px 50px;
}
.profile-interest-options{
    margin-bottom: 25px;
}
.custom-accordion .panel-heading{
    padding-left: 30px;
    cursor: pointer;
    background-color: #3A7AD2;
    color: white;
    border: 0;
    border-radius: 0;
}
.custom-accordion .panel-heading:hover{
    background-color: #094BA7;
}
.custom-accordion .panel{
    border: 0;
    margin-bottom: 0;
}
.custom-accordion .panel-body{
    padding: 0;
}
@media(min-width: 991px){
    .profile-interests-wrap { 
        padding: 35px 80px 35px 50px;
    }
}
.profile-interests-category{
    margin: 15px 30px;
}
.check-hover:hover{
    background-color: #EEEEEE;
    border-radius: 2px;
}
.category-name{
    font-size: 24px;
}
.category-item{
    margin-bottom: 25px;
    text-align:center;
    transition: all 0.3s;
    border: 1px solid rgba(0,0,0,0.19);
    border-radius: 2px;
}
.category-item:hover{
    box-shadow: 0px 0px 12px rgba(0,0,0,0.19), 0 5px 12px rgba(0,0,0,0.19);
}
.category-item-img{
    background-position:center;
    background-repeat:no-repeat;
    background-size: cover;
    width: 100%;
    height: 250px;
    cursor: pointer;
    overflow: hidden;
}
.category-item-label{
    margin: 0;
    padding: 10px 0;
    border-top: 1px solid rgba(0,0,0,0.19);
}
.profile-personal-wrap{
    padding: 50px;
}
.profile-comment-wrap{
    border: 1px solid rgba(0,0,0,0.19);
    border-radius: 2px;
    margin-bottom: 25px;
    padding: 15px 25px;
    width: 100%;
    transition: all 0.3s;
}
.profile-comment-wrap:hover{
     box-shadow: 0px 0px 12px rgba(0,0,0,0.19), 0 5px 12px rgba(0,0,0,0.19);
}
.profile-comment-options{
    float:right;
}
.profile-comment-options a{
    color:gray;
    transition: all 0.3s;
}
.profile-comment-options a:hover{
    color:black;
}
.profile-comment-event{
    text-transform: uppercase;
    font-weight: 600;
}
.profile-comment-datetime{
    color: gray;
    font-size: 12px;
}
.profile-comment-edit{
    margin: 15px 0;
    max-width: 100%;
}
.profile-stats-table{
    border: 1px solid rgba(0,0,0,0.19);
    border-radius: 2px;
}
.profile-stats-table > tbody > tr > td{
    padding-bottom: 10px;
}
.profile-stats-table >thead >tr >th{
    padding: 8px;
}
.profile-stats-table > tbody > tr > td:first-child, .profile-stats-table > thead > tr > th:first-child{
    padding-left: 25px;
}
.profile-stats-table > tbody > tr > td:last-child, .profile-stats-table > thead > tr > th:last-child{
    padding-right: 25px;
}



.profile-fields input, .profile-fields input:hover{
    width: 100%;
    padding: 10px;
    border: 0;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    transition: box-shadow 0.3s, border 0s;
}
.profile-fields input:active, .profile-fields input:focus{
    box-shadow: 0px 0px 12px rgba(0,0,0,0.19), 0 5px 12px rgba(0,0,0,0.19);
    border-bottom: 2px solid white;
}
#finance-panel{
    position: relative;
}
#extend-membership-btn{
    width: auto;
    padding: 0 20px;
    margin-top:35px;
}
#extend-membership-btn:hover{
    width: auto;
    padding: 0 20px;
}

.about-wrap{
    padding: 50px;
}

/*COMMENTS*/
.comments-wrap{
    margin: 100px 0 100px 0;
}
#comments li{
    width: 33%;
    color:black;
}
/*#comments li:after{
    content: "";
    position: absolute;
    height: 50%;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    border-right: 1px solid rgba(0,0,0,0.1);
}
#comments li:last-child:after{
    display: none;
}*/
#comments li:hover{
    background-color: white;
}
#comments li:hover .comment-event{
    text-decoration: underline;
}
.comment-event{
    font-family: NunitoSans-Bold;
    font-size: 24px;
    margin-bottom: 20px;
}
.comment-profile-picture{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 15px;
    float:left;
    background-color: gray;
}
.comment-author{
    text-align: left;
}
.comment-date-time{
    font-size: 12px;
    font-family: NunitoSans-Light;
    color: gray;
}
.comment-total{
    float: right;
}


/*GALLERY SEPARATE*/
.gallery-wrap{
    margin: 50px 0;
}
.gallery-heading{
    padding: 10px;
    color:white;
    margin-bottom: 15px;
    text-align:center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.item-in-gallery{
    position: relative;
    width: 100%;
    height: 150px;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 20px;
}
.item-in-gallery-bg{
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    width: 100%;
    height: 100%;
}
.material-shadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.material-shadow:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#eventGalleryModal{
  background-color: rgba(0,0,0,0.8);
}

#event-gallery-modal-body{
    width: 100%;
    height: 100%;
    margin: 0;
    color: white;
}
.exit-event-gallery{
    /*color: white;
    font-size: 5rem;*/
    position: absolute;
    top: 45px; right: 3vw;
    cursor: pointer;
    float:right;
    filter: invert(100%);
    width: 45px;
    height: 45px;
}

.event-gallery-item{
    margin-top: 100px;
    text-align:center;
    background-color:black;
}
.event-gallery-item-bg{
    max-width: 100%;
    max-height: 864px;
}
.event-gallery-item-footer{
    border-top: 5px solid white;
}

.event-gallery-item-details{
    text-align:left;
    padding: 15px 25px;
}
.gallery-item-number{
    position: absolute;
    bottom: 50px;
    left: 49%;
}
#event-gallery-btn{
    width: auto;
    background: transparent;
    padding: 0 25px;
}
#event-gallery-btn:hover{
    color: black;
    background: white;
}

/*EVENTS*/
.events-heading{
    margin: 15px 0;
}
.go-to-event-btn{
    display:block;
    line-height:50px;
}
.events-settings{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 35px;
    margin-bottom: 50px;
    background: white;
}
.events-top-options{
    text-align:right;
}
.events-top-options li{
    margin: 0 5px;
}
.event-type-filter{
    color: white;
    padding: 15px;
    cursor: pointer;
    border-radius: 3px;
}
.event-type-color{
    float: right;
    width: 16px;
    height: 16px;
}
.event-filter-btn{
    margin: 15px 0;
    width: 100%;
}
.event-card{
    position: relative;
    margin-bottom: 25px;
}
.event-card-img-wrapper{
    position:relative;
    height: 150px; 
    overflow: hidden;
    cursor: pointer;
}
.event-card-event-status{
      width: 100px;
      background: #333333;
      position: absolute;
      top: 15px;
      left: -25px;
      text-align: center;
      font-size:12px;
      color: #f0f0f0;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
}
.event-card-options{
    position: absolute;
    top:0px; right: 0px;
    z-index: 5;
    width: 24px;
    text-align:center;
    color:white;
    font-size:24px;
    cursor:pointer;
}
.event-card-img-overlay{
    z-index: 2;
    width:100%;
    height: 0;
    background: white;
    transition: all 0.3s;
    text-align: center;
}
.event-card-img-wrapper:hover .event-card-img-overlay{
    height:100%;
}
.event-card-img-overlay .rectangle-btn-outline-dark{
    width: 100%;
    border: 0;
}
.event-card-img-overlay .rectangle-btn-outline-dark:hover{
    width: 100%;
    border: 0;
}
.event-more-info{
    position: absolute;
    top: 50%;
    left: 20px;
}
.event-basic-info{
    position: relative;
    padding: 20px;
    color: white;
    width: 100%;
    height: 135px;
    cursor: pointer;
}
.event-title{
    font-size: 16px;
}
.event-date{
    text-transform: capitalize;
    font-size: 14px;
}
.event-location{
    position: absolute;
    bottom: 20px;
    left: 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: NunitoSans-Bold;
}

.new-event-link-icons{
    width:20px;
    height: 55px;
    margin-right: 17px;
}
.new-event-link{
    height: 55px;
    color: gray;
    line-height: 85px;
    cursor: pointer;
}

/*SINGLE EVENT*/
.event-background{
    width: 100%;
    overflow: visible;
    background-image: url(/img/bik_slide.jpg), url(/img/whitestonebg.png);
    background-repeat: no-repeat, repeat;
    background-position: top, top;
    background-size: contain, auto;
}
.event-relative{
    position: relative;
}
.event-info-wrapper{
    margin: 40vh 0 50px 0;
}
@media screen and (max-height:520px){
    .event-info-wrapper{
    margin: 100px 0 50px 0;
}}

.single-event-title{
    font-family: NunitoSans-Black;
    font-size: calc(14px + 2vw);
    color: white;
    text-shadow:2px 2px 2px rgba(0,0,0,0.5);
    margin-bottom: 2vw;
    text-align:center;
}
.event-info{
    width: 100%;
    background: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 3vw 10vw;
}
.event-video{
    margin: 25px 0;
}
.single-event-options{
    text-align:right;
}
.single-event-options li{
    display: inline;
}
iframe, object, embed {
    max-width: 100%;
}
.new-comment{
    margin: 15px 0;
}
.comment-options{
    text-align:right;
}
.comment-options li{
    display: inline;
}