@font-face { font-family: Raleway; src: url('/fonts/Raleway-Regular.ttf'); } 
@font-face { font-family: RalewayThin; src: url('/fonts/Raleway-Thin.ttf'); } 
@font-face { font-family: RalewayLight; src: url('/fonts/Raleway-Light.ttf'); } 
@font-face { font-family: RalewayBold; src: url('/fonts/Raleway-Bold.ttf'); } 

@font-face { font-family: NunitoSans-Black; src: url('/fonts/nunitosans/NunitoSans-Black.ttf'); } 
@font-face { font-family: NunitoSans-BlackItalic; src: url('/fonts/nunitosans/NunitoSans-BlackItalic.ttf'); } 
@font-face { font-family: NunitoSans-Bold; src: url('/fonts/nunitosans/NunitoSans-Bold.ttf'); } 
@font-face { font-family: NunitoSans-BoldItalic; src: url('/fonts/nunitosans/NunitoSans-BoldItalic.ttf'); } 
@font-face { font-family: NunitoSans-ExtraBold; src: url('/fonts/nunitosans/NunitoSans-ExtraBold.ttf'); } 
@font-face { font-family: NunitoSans-ExtraBoldItalic; src: url('/fonts/nunitosans/NunitoSans-ExtraBoldItalic.ttf'); } 
@font-face { font-family: NunitoSans-ExtraLight; src: url('/fonts/nunitosans/NunitoSans-ExtraLight.ttf'); } 
@font-face { font-family: NunitoSans-ExtraLightItalic; src: url('/fonts/nunitosans/NunitoSans-ExtraLightItalic.ttf'); } 
@font-face { font-family: NunitoSans-Italic; src: url('/fonts/nunitosans/NunitoSans-Italic.ttf'); } 
@font-face { font-family: NunitoSans-Light; src: url('/fonts/nunitosans/NunitoSans-Light.ttf'); } 
@font-face { font-family: NunitoSans-LightItalic; src: url('/fonts/nunitosans/NunitoSans-LightItalic.ttf'); } 
@font-face { font-family: NunitoSans-Regular; src: url('/fonts/nunitosans/NunitoSans-Regular.ttf'); } 
@font-face { font-family: NunitoSans-SemiBold; src: url('/fonts/nunitosans/NunitoSans-SemiBold.ttf'); } 
@font-face { font-family: NunitoSans-SemiBoldItalic; src: url('/fonts/nunitosans/NunitoSans-SemiBoldItalic.ttf'); } 

html, body{
    height: 100%;
}

body{
    margin: 0;
    padding-top: 125px;
    font-family: NunitoSans-Regular;
}
.no_nav{
    padding-top: 0;
}

.templates{
    height: 100%;
}

.ang-fade {
    opacity: 1;
}
.ang-fade.ng-enter,
.fade.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.ang-fade.ng-enter {
    opacity: 0;
}
.ang-fade.ng-enter-active {
    opacity: 1;
}
.ang-fade.ng-leave {
    opacity: 1;
}
.ang-fade.ng-leave-active {
    opacity: 0;
    display: none;
}
.material-round-btn{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #02CB9E;
    color: white;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.transparent-round-btn{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    background: transparent;
    line-height: 40px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.3);
    transition: all 0.2s;
}
.transparent-round-btn:hover{
    border: 2px solid rgba(255, 255, 255, 0.6);
    color: rgba(255, 255, 255, 0.6)
}

.rectangle-btn{
    border: 0;
    border-radius: 2px;
    width: 150px;
    height: 50px;
    background-color: #02CB9E;
    color: white;
    font-family: NunitoSans-Regular;
    font-size: 16px;
    text-transform: uppercase;
}
.rectangle-btn:hover
.rectangle-btn:active, 
.rectangle-btn:focus{
    cursor:pointer;
    padding: 0;
}

.inline-list{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}
.inline-list li{
    display: inline;
}
.av-navbar{
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: white;
    z-index: 6;
}
  .welcome-header {
        position: absolute;
        top: 0;
        display: table;
        width: 100%;
        height: 45px;
        background-color: #02CB9E;
        padding: 0 5vw;
        z-index: 5;
    }

    .welcome-header-social {
        width: 100%;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        padding: 0;
        color: white;
    }
        .welcome-header-social a {
            text-decoration: none;
            color: white;
            font-size: 14px;
            font-family: NunitoSans-Bold;
            text-transform: uppercase;
            transition: all 0.3s;
        }

        .welcome-header-social li {
            display: inline-block;
            width: auto;
            padding: 0 18px;
        }
        .welcome-header-social li:first-child{
            padding-left:5px;
        }

    .welcome-header-navigation {
        display: none;
    }

.welcome-navbar{
    position: absolute;
    top: 45px;
    display: table;
    width: 100%;
    height: 80px;
    background-color: white;
    padding: 0 5vw;
    color: black;
    z-index: 5;
    box-shadow: 0 1px 2px rgba(0,0,0,0.24);
}
.welcome-navbar-title{
    width: 30%;
    display:table-cell;
    text-align:left;
    font-family: Raleway;
    font-size: 30px;
    letter-spacing: 2px;
    vertical-align: middle;
}
.welcome-navbar-navigation{
    display: none;
}
@media only screen and (min-width: 1150px) {

    .welcome-header {
        position: absolute;
        top: 0;
        display: table;
        width: 100%;
        height: 45px;
        background-color: #02CB9E;
        padding: 0 15vw;
        z-index: 5;
    }

    .welcome-header-social {
        width: 60%;
        display: table-cell;
        vertical-align: middle;
        text-align: left;
        padding: 0;
    }

    .welcome-header-navigation {
        width: 40%;
        display: table-cell;
        vertical-align: middle;
        text-align: right;
        padding: 0;
    }

        .welcome-header-navigation li, .welcome-header-social li {
            display: inline-block;
            width: auto;
            padding: 0 18px;
        }
        .welcome-header-navigation li:last-child{
            padding-right: 0;
        }
        .welcome-header-social li:first-child{
            padding-left:5px;
        }

            .welcome-header-navigation li a , .welcome-header-social li a{
                text-decoration: none;
                color: white;
                font-size: 14px;
                font-family: NunitoSans-Bold;
                text-transform: uppercase;
                transition: all 0.3s;
            }

.welcome-navbar{
    position: absolute;
    top: 45px;
    display: table;
    width: 100%;
    height: 80px;
    background-color: white;
    padding: 0 15vw;
    color: black;
    z-index: 5;
}
.welcome-navbar-title{
    width: 30%;
    display:table-cell;
    text-align:left;
    font-family: Raleway;
    font-size: 30px;
    letter-spacing: 2px;
    vertical-align: middle;
}
.welcome-navbar-navigation{
    width: 60%;
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}
.welcome-navbar-navigation li{
    display: inline-block;
    text-align: right;
    width: auto;
    padding: 0 18px 0 18px;
}
.welcome-navbar-navigation li:last-child{
    padding-right: 0px;
}
.welcome-navbar-navigation li a{
    text-decoration: none;
    color: rgba(0,0,0,1);
    font-size: 14px;
    font-family: NunitoSans-Bold;
    text-transform: uppercase;
    transition: all 0.3s;
}
.welcome-navbar-navigation li a:hover{
    color: rgba(0,0,0,0.6);
}
}

.welcome-screen{
    position: relative;
    width: 100%;
    height: 100%;
}
.slide{
    height:100%;
}
.slide-background{
    width: 100vw;
    height: 100%;
    max-width: 100%;
}
.slide-image{
    width: 100vw;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    position: relative;
    z-index: -1;
}
.slide-overlay{
    position: absolute;
    top: 0; left: 0;
    width: 100vw;
    height: 100%;
    max-width: 100%;
    background-color: rgba(0,0,0,0.2);
}
.slide-content{
    display: table-cell;
    position: absolute;
    top: 0; right: 0; bottom:0; left: 0;
    margin: auto;
    width: 100vw;
    height: 50vh;
    max-width: 60%;
    text-align: center;
    word-break: break-word;
    vertical-align: middle;
    color: white;
}
.slide-title{
    position: relative;
    display: block;
    width: 100%;
    font-family: NunitoSans-Black;
    font-size: calc(14px + 3vw);
    margin: 50px 0 15px 0;
    text-transform: uppercase;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.4);
}
.slide-description{
    position: relative;
    display: block;
    width: 100%;
    font-size: calc(8px + 2vh);
    font-family: NunitoSans-Light;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.4);
    margin-bottom: 4vh;
}
#register-btn{
    position: relative;
    width: 200px;
    max-width: 45vw;
    margin: 0 auto;
    transition: all 0.2s;
}

#register-btn:hover{
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    -webkit-transform: scale(1.05,1.05);
    -ms-transform :scale(1.05,1.05);
    transform: scale(1.05,1.05);
}
#slide-left{
    position: absolute;
    left: 3vw;
    top: 0; bottom:0;
    margin: auto 0;
}
#slide-right{
    position: absolute;
    right: 3vw;
    top: 0; bottom:0;
    margin: auto 0;
}
.slide-dots{
    position: absolute;
    bottom: 2vh;
    left: 0; right: 0;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.slide-dot{
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: white;
    margin: 0 5px;
    transition: all 0.4s, transform 0.2s;
}
.slide-dot:hover{
    cursor: pointer;
    background-color: #02CB9E;
    transform: scale(1.2, 1.2);
}
.slide_dot_selected{
    background-color: #02CB9E;
    transform: scale(1.2, 1.2);
}


/*LOGIN*/

.login-screen{
    display: block;
    background: rgba(0,0,0,0.1);
    padding: 10vh 0;
    min-height: 100%;
}
.login-form{
    position: relative;
    margin: 0 auto;
    display: block;
    background: white;
    width: 90vw;
    max-width: 500px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.login-line{
    position: relative;
    display: block;
    height: 70px;
    border-bottom: 1px solid #E5E5E5;
    line-height: 70px;
    padding: 0 30px;
    list-style-type: none;
}
.login-line p{
    text-align: center;
    color: gray;
    font-family: NunitoSans-Light;
    font-size: 16px;
}
.login-line input[type="radio"]{
    margin: 0 3px;
}
.login-line li{
    display: inline-block;
}
.login-line li:first-child{
    color:gray;
    margin-right: 15px;
}
.login-line li label{
    font-family: NunitoSans-Regular;
    font-weight: 100;
}
.login-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.login-list li{
    position: relative;
    display: block;
    height: 70px;
    border-bottom: 1px solid #E5E5E5;
    line-height: 70px;
}
.login-list li label{
    width: 90%;
    font-family: NunitoSans-Regular;
    font-weight: 100;
    padding-left: 30px;
    color: gray;
}
.login-form input[type="text"],  .login-form input[type="password"]{
    display: block;
    width: 100%;
    border: 0;
    height: 70px;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 1px solid #E5E5E5;
}
.login-tabs li{
    width: 50%;
    text-align: center;
    height: 70px;
}
.login-tabs li a{
    height: 100%;
    line-height: 54px;
    font-family: NunitoSans-Bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    border: 0;
    border-radius: 0;
    margin: 0;
    color:#809191;
    background-color: #D2D8D8;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
    border: 0;
    color: black;
    background-color: white;
}
.login-btn-full{
    display: block;
    width: 100%;
    height: 70px;
    border-radius: 0;
    background: #00A37F;
}
.login-btn-halfway{
    display: inline-block;
    width: 50%;
    height: 70px;
    border-radius: 0;
    background: #00A37F;
}

.connect{
    display: block;
    height: 70px;
    width: 100%;
    color: white;
    line-height: 70px;
}
.connect:hover{
    color: white;
}
.connect-icon{
    float: left;
    width: 70px;
    text-align: center;
    font-size: 22px;
}
.connect-context{
    width: calc(100% - 70px);
    float: right;
    text-align: center;
    font-family: NunitoSans-Regular;
}
.facebook{
    background-color: #3b5998;
}
.facebook .connect-icon{
    background-color: #283d68;
}
.gplus{
    background-color: #dd4b39;
}
.gplus .connect-icon{
    background-color: #b52f1f;
}
.no-bg-btn{
    background: none;
    color: gray;
}

/*ADMIN PANEL*/
.admin-navbar{
    background-color: #02CB9E;
    color: white;
}
    .admin-navbar .navbar-brand{
    color: white;
    }
    .admin-navbar a{
    color: white;
}
#side-menu li a{
    color: gray;
}


/*EVENTS*/

.events-screen{
    position: relative;
    display: block;
    background: rgba(0,0,0,0.1);
    min-height: 100%;
}
#add-event-btn{
    position: absolute;
    bottom: 30px;
    right: 30px;
}

#new-event-form{
    max-width: 800px;
    max-height: 90vh;
}
.input-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.input-list li{
    display: block;
}
.center-element{
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
}